Repository mapbox/mapbox-navigation-android, pull requests merged in 2018-09, with the labels that each got.

#1252 Bump Location Layer Plugin version to 0.8.1
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java
  gradle/dependencies.gradle
Labels: navigation-ui, topic: location

#1256 Do not add Fragments to backstack in FragmentNavigationActivity
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/fragment/FragmentNavigationActivity.java
Labels: navigation-ui, test app, ✓ ready for review

#1258 Update Transifex Translations
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-my/strings.xml
  libandroid-navigation-ui/src/main/res/values-bn/strings.xml
  libandroid-navigation-ui/src/main/res/values-cs/strings.xml
  libandroid-navigation-ui/src/main/res/values-da/strings.xml
  libandroid-navigation-ui/src/main/res/values-es/strings.xml
  libandroid-navigation-ui/src/main/res/values-fr/strings.xml
  libandroid-navigation-ui/src/main/res/values-he/strings.xml
  libandroid-navigation-ui/src/main/res/values-ko/strings.xml
  libandroid-navigation-ui/src/main/res/values-my/strings.xml
  libandroid-navigation-ui/src/main/res/values-pt-rPT/strings.xml
  libandroid-navigation-ui/src/main/res/values-uk/strings.xml
  libandroid-navigation/src/main/res/values-cs/strings.xml
  libandroid-navigation/src/main/res/values-de/strings.xml
  libandroid-navigation/src/main/res/values-my/strings.xml
Labels: navigation-core, navigation-ui, topic: localization, ✓ ready for review

#1275 Do not allow multiple ViewModel subscriptions in NavigationView
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
Labels: bug, navigation-ui, ✓ ready for review

#1260 Fix route requests that include waypoint names
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteFetcher.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/RouteUtilsTest.java
Labels: bug, navigation-core, navigation-ui, ✓ ready for review

#1269 Update Milestone javadoc to explain ignored trigger behavior
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/BannerInstructionMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestone.java
Labels: navigation-core, topic: documentation, ✓ ready for review

#1263 Fix recenter show logic by adding MoveListener again in lifecycle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
Labels: bug, navigation-ui, ✓ ready for review

#1277 Update RouteEngine for NavigationView duplicate starts
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
Labels: bug, navigation-ui, ✓ ready for review

#1281 Simplify will voice API
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/listeners/SpeechAnnouncementListener.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcherTest.java
Labels: navigation-ui, topic: instructions, topic: voice, ✓ ready for review

#1231 Added custom rounding increments for formatting distance
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/BannerInstructionModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionStepResources.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/SummaryBottomSheet.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/SummaryModel.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/DistanceFormatter.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/DistanceFormatterTest.java
Labels: feature, ✓ ready for review

#1283 Add onNavigationStopped callback for NavigationNotification
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/notification/CustomNavigationNotification.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationNotificationProvider.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/notification/NavigationNotification.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationNotificationProviderTest.java
Labels: navigation-core, navigation-ui, ✓ ready for review

#1241 Update Maps SDK to 6.5.0 and Events to 3.2.0
  gradle/dependencies.gradle
Labels: ⚠️ DO NOT MERGE

#1290 Remove sonarqube integration
  Makefile
  app/build.gradle
  build.gradle
  circle.yml
  gradle/dependencies.gradle
  gradle/sonarqube.gradle
Labels: navigation-core, navigation-ui, ✓ ready for review

#1294 Fix mock navigation activity leak and location puck flying
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/notification/CustomNavigationNotification.java
Labels: bug, test app, ✓ ready for review

#1289 Do not update MockLocationEngine route on rotation
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationEngineConductor.java
Labels: SEMVER, bug, navigation-ui, ✓ ready for review

#1296 Make last location from ReplayRouteLocationEngine null by default
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/replay/ReplayRouteLocationEngine.java
Labels: bug, topic: location, ✓ ready for review

#1257 Allow custom LocationEngine from NavigationViewOptions
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationEngineConductor.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/LocationEngineConductorTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineUpdater.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineUpdaterTest.java
Labels: SEMVER, feature, navigation-ui, ✓ ready for review

#1297 Update latest Transifex translations
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-ru/strings.xml
  libandroid-navigation/src/main/res/values-ru/strings.xml
  libandroid-navigation/src/main/res/values-sv/strings.xml
Labels: navigation-ui, ✓ ready for review

#1303 Fix route requests that include approaches
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteFetcher.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/RouteUtilsTest.java
Labels: bug, navigation-core, navigation-ui, ✓ ready for review

#1305 Release 0.19.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui, release

#1308 Bump MAS version to 4.0.0
  gradle/dependencies.gradle
Labels: quick fix, ✓ ready for review

#1313 Update Build Tools 28.0.3
  circle.yml
  gradle/dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: chore, navigation-core, navigation-ui, ✓ ready for review

#1318 Mapbox Navigator online fixes
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteProcessorRunnable.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteProgress.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/SnapToRoute.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestoneTest.java
  libandroid-navigation/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: navigation-core, navigation-ui, refactor, ✓ ready for review

#1319 Add NavigationMapboxMap to set LocationLayer RenderMode
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapTest.java
Labels: navigation-ui, ✓ ready for review

#1320 Add NavigationMapboxMap APIs for showing multiple routes on map
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapTest.java
Labels: navigation-ui, ✓ ready for review

#1328 Example activity long press destination selection
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleActivity.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExamplePresenter.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleViewModel.kt
Labels: ⚠️ DO NOT MERGE

#1325 Navigator 3.0
  .gitignore
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/services/android/navigation/testapp/MainActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRerouteActivity.java
  app/src/main/res/values/strings.xml
  gradle/dependencies.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
Labels: navigation-core, navigation-ui, refactor, ✓ ready for review

#1333 Add ability to display / select alternative routes
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleActivity.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExamplePresenter.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleView.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleViewModel.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/ExampleRouteFinder.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/offline/OfflineFIleLoader.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/offline/OfflineFilesLoadedCallback.kt
  app/src/main/res/xml/fragment_navigation_preferences.xml
Labels: test app, ✓ ready for review

#1337 Revert tweaks
  app/src/main/AndroidManifest.xml
  build.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineError.java
Labels: navigation-core, navigation-ui, ✓ ready for review

#1336 Navigation native
  .gitignore
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java
  app/src/main/res/layout/item_main_feature.xml
  app/src/main/res/values/strings.xml
  build.gradle
  gradle/dependencies.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/TestRouteProgressBuilder.java
  libandroid-navigation/build.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLibraryLoader.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineListener.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineUpdater.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationUpdate.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteProcessorBackgroundThread.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteProcessorHandlerCallback.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteProcessorRunnable.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteProgress.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/SnapToRoute.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/TestRouteProgressBuilder.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestoneTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelperTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineListenerTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineUpdaterTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetectorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/snap/SnapToRouteTest.java
  libandroid-navigation/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: navigation-core, navigation-ui, ✓ ready for review

#1342 Add navigator history functionality
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/StoreHistoryTask.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
Labels: navigation-core, navigation-ui, ✓ ready for review

#1345 Create MultiOnClickListener before View is attached
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/FeedbackButton.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/SoundButton.java
Labels: bug, navigation-ui, ✓ ready for review

#1340 Add separate APIs for updating InstructionView
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: SEMVER, navigation-ui, needs research

#1353 Fix MultiOnClickListener NPE
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, navigation-ui, ✓ ready for review

#1356 Release v0.20.0-beta.1
  CHANGELOG.md
Labels: navigation-core, navigation-ui, release

#1362 Delay adding InstructionView default click listeners until subscribed
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, navigation-ui, ✓ ready for review
