Repository mapbox/mapbox-navigation-android, pull requests merged in 2018-06, with the labels that each got.

#984 Update README.md to SDK 0.14.0
  README.md
Labels: topic: documentation

#973 Add try catch when obtaining FragmentManager in InstructionView
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java
  app/src/main/res/layout/activity_reroute.xml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/list/InstructionListAdapter.java
  libandroid-navigation-ui/src/main/res/layout/feedback_button_layout.xml
  libandroid-navigation-ui/src/main/res/layout/sound_layout.xml
Labels: bug, navigation-ui, ✓ ready for review

#977 Check distance remaining before running OffRouteDetector logic
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetectorTest.java
Labels: bug, navigation-core, ✓ ready for review

#969 Update InstructionView with BannerMilestone only with callback
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/BannerInstructionModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, navigation-ui, ✓ ready for review

#934 Add upcoming maneuver arrow on the route line
  app/src/main/res/layout/activity_embedded_navigation.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/styles.xml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/main/res/drawable/ic_arrow_head.xml
  libandroid-navigation-ui/src/main/res/drawable/ic_arrow_head_casing.xml
  libandroid-navigation-ui/src/main/res/values/attrs.xml
  libandroid-navigation-ui/src/main/res/values/colors.xml
  libandroid-navigation-ui/src/main/res/values/styles.xml
Labels: feature, navigation-ui, platform parity, ✓ ready for review

#853 Add wayname underneath navigation puck
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationContract.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncherOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationUiOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/ThemeSwitcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/alert/AlertView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/feedback/FeedbackBottomSheet.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/feedback/FeedbackViewHolder.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/maneuver/ManeuverView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/turnlane/TurnLaneView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapWayname.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/WaynameFeatureFinder.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/WaynameLayerInteractor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/WaynameLayoutProvider.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/WaynamePaddingAdjustor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/WaynameView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/utils/ViewUtils.java
  libandroid-navigation-ui/src/main/res/drawable-v21/wayname_text_background.xml
  libandroid-navigation-ui/src/main/res/drawable/wayname_text_background.xml
  libandroid-navigation-ui/src/main/res/layout/wayname_view_layout.xml
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapWaynameTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
Labels: feature, navigation-ui, ✓ ready for review

#988 Added InstructionViewCallback to allow views to be alerted when the in…
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/listeners/InstructionListListener.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcherTest.java
Labels: bug, navigation-ui

#1010 Update LocationLayerPlugin to 0.5.3, MAS 3.2.0
  gradle/dependencies.gradle
Labels: navigation-ui, topic: location

#1006 Remove attempt to place route source when style layers are null
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
Labels: bug, navigation-ui

#1007 Add missing arrival ManeuverViewMap pair
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/maneuver/ManeuverViewMap.java
Labels: bug, navigation-ui

#1026 Add check to remove listener from location engine in NavigationService
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
Labels: bug, navigation-core, ✓ ready for review

#1027 Hide way name when camera is not tracking Location
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationContract.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
Labels: navigation-ui, topic: design

#1020 Update NavigationActivity naming to avoid naming collisions
  libandroid-navigation-ui/src/main/AndroidManifest.xml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/MapboxNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncher.java
Labels: navigation-ui, ✓ ready for review

#1031 Check for valid name property value in MapWayname
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapWayname.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapWaynameTest.java
Labels: bug, navigation-ui

#1022 Remove metric arrival event reset for multiple waypoints
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcher.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/metrics/NavigationMetricListener.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/metrics/NavigationMetricListeners.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcherTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1013 NavigationViewEventDispatcher remove navigation listeners in onDestroy
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcherTest.java
Labels: bug, navigation-ui, ✓ ready for review

#967 Add route overview button and animation to NavigationView
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/CancelBtnClickListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationContract.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationInstructionListListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationSnapshotReadyCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/RecenterBtnClickListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/RouteOverviewBtnClickListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/SummaryBottomSheetCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/ThemeSwitcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/AddProgressListenerCancelableCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/CameraOverviewCancelableCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/DynamicCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapPaddingAdjustor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapWayname.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/WaynameLayoutProvider.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/WaynamePaddingAdjustor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/WaynameView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/SummaryBottomSheet.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/utils/ViewUtils.java
  libandroid-navigation-ui/src/main/res/drawable/ic_route_preview.xml
  libandroid-navigation-ui/src/main/res/drawable/ic_route_preview_dark.xml
  libandroid-navigation-ui/src/main/res/layout-land/instruction_layout.xml
  libandroid-navigation-ui/src/main/res/layout-land/navigation_view_layout.xml
  libandroid-navigation-ui/src/main/res/layout-land/summary_content_layout.xml
  libandroid-navigation-ui/src/main/res/layout-land/summary_peek_layout.xml
  libandroid-navigation-ui/src/main/res/layout/instruction_layout.xml
  libandroid-navigation-ui/src/main/res/layout/navigation_view_layout.xml
  libandroid-navigation-ui/src/main/res/layout/summary_content_layout.xml
  libandroid-navigation-ui/src/main/res/layout/summary_peek_layout.xml
  libandroid-navigation-ui/src/main/res/layout/wayname_view_layout.xml
  libandroid-navigation-ui/src/main/res/values-land/dimens.xml
  libandroid-navigation-ui/src/main/res/values-port/dimens.xml
  libandroid-navigation-ui/src/main/res/values/attrs.xml
  libandroid-navigation-ui/src/main/res/values/colors.xml
  libandroid-navigation-ui/src/main/res/values/styles.xml
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenterTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/DynamicCameraTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapWaynameTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/camera/Camera.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/camera/SimpleCamera.java
Labels: navigation-ui, platform parity, size: M, topic: camera, ✓ ready for review

#1025 Updated NavigationRoute.language to take a Locale
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationViewActivity.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteFetcher.java
Labels: ✓ ready for review

#1004 Added check for whether a language is supported by API voice before d…
  app/src/main/res/values/arrays.xml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/AndroidSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/InstructionPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationInstructionPlayer.java
Labels: bug, navigation-ui, ✓ ready for review

#1017 Removed AndroidSpeechPlayer.UtteranceProgressListener and replaced wi…
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/AndroidSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/Api14UtteranceListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/UtteranceListener.java
Labels: ✓ ready for review

#1036 Added error logging for API voice errors
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/AndroidSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/InstructionListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationInstructionPlayer.java
Labels: ✓ ready for review

#1041 Fix upcoming arrow is drawn over annotations
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
Labels: bug, navigation-ui, ✓ ready for review

#996 Update to MAS 3.3.0 and add approaches / waypointNames to NavigationRoute
  gradle/dependencies.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
Labels: navigation-core, topic: directions, ✓ ready for review

#1042 Update Maps SDK to 6.2.0
  gradle/dependencies.gradle
Labels: navigation-ui, ✓ ready for review

#1044 Revert maps SDK version to 6.1.3
  gradle/dependencies.gradle
Labels: bug, navigation-ui

#1043 Add distance remaining buffer to show first instruction immediately
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
Labels: bug, navigation-ui

#1046 Remove setting voiceLanguage / voice unitType in RouteFetcher
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteFetcher.java
Labels: navigation-core, navigation-ui, topic: directions, ✓ ready for review

#1018 Use theme attribute to update MapView map style URL
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  app/src/main/res/drawable/ic_refresh.xml
  app/src/main/res/layout/activity_embedded_navigation.xml
  app/src/main/res/values/strings.xml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/MapboxNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/ThemeSwitcher.java
  libandroid-navigation-ui/src/main/res/layout/navigation_view_layout.xml
Labels: bug, navigation-ui, ✓ ready for review

#1050 Release v0.15.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui

#1053 Fix upcoming maneuver arrow underneath road labels
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
Labels: bug, navigation-ui, topic: design, ✓ ready for review

#1063 Setup AppCompatDelegate night mode to automatic
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/ThemeSwitcher.java
Labels: navigation-ui, ✓ ready for review

#1068 Bump Mapbox Maps SDK to 6.2.1 version
  gradle/dependencies.gradle
Labels: bug, navigation-ui, ✓ ready for review

#1059 Re-did the navigation notification layout, and added a separate layou…
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/time/TimeUtils.java
  libandroid-navigation/src/main/res/layout/collapsed_navigation_notification_layout.xml
  libandroid-navigation/src/main/res/layout/expanded_navigation_notification_layout.xml
  libandroid-navigation/src/main/res/layout/navigation_notification_layout.xml
  libandroid-navigation/src/main/res/values/strings.xml
Labels: ✓ ready for review

#1067 Fix vector drawables for < API 21 in test Application
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/ThemeSwitcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/feedback/FeedbackViewHolder.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
Labels: bug, navigation-ui

#1054 Fix voiceLanguage NPE and add tests for NavigationSpeechPlayer
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/AndroidSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/Api14UtteranceListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/Api26AudioFocusDelegate.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/AudioFocusDelegate.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/AudioFocusDelegateProvider.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/InstructionPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationInstructionPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationSpeechListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechAnnouncement.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechAnnouncementMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechAnnouncementUpdate.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechAudioFocusDelegate.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechAudioFocusManager.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechDownloadTask.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechPlayerProvider.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/UtteranceListener.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationSpeechListenerTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationSpeechPlayerTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechPlayerProviderTest.java
Labels: bug, navigation-ui, ✓ ready for review

#959 Add end navigation functionality to navigation view
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/services/android/navigation/testapp/MainActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EndNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/WaypointNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/fragment/NavigationFragment.java
  app/src/main/res/drawable-hdpi/paella_icon.png
  app/src/main/res/drawable-mdpi/paella_icon.png
  app/src/main/res/drawable-xhdpi/paella_icon.png
  app/src/main/res/drawable-xxhdpi/paella_icon.png
  app/src/main/res/drawable-xxxhdpi/paella_icon.png
  app/src/main/res/layout/activity_end_navigation.xml
  app/src/main/res/values/strings.xml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/MapboxNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationOnMoveListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/OnNavigationReadyCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/utils/MapUtils.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationTest.java
Labels: feature, navigation-ui, needs field testing, ✓ ready for review
