Repository mapbox/mapbox-navigation-android, pull requests merged in 2018-11, with the labels that each got.

#1490 Resume simulation for multi leg routes
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/replay/ReplayRouteLocationConverter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/replay/ReplayRouteLocationEngine.java
Labels: bug, navigation-core, topic: location, ✓ ready for review

#1493 Bump Maps SDK and Events versions
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, quick fix, ✓ ready for review

#1495 Bump mapbox-navigation-native version to 3.3.1
  gradle/dependencies.gradle
Labels: navigation-core, quick fix, ✓ ready for review

#1317 Add example test Activity for Navigation Test Application
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/services/android/navigation/testapp/NavigationApplication.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/NavigationApplication.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/NavigationSettingsActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationLauncherActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleActivity.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExamplePresenter.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleView.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleViewModel.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/PresenterState.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/autocomplete/AutoCompleteBottomSheetCallback.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/autocomplete/AutocompleteBottomSheetBehavior.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/autocomplete/ExampleAutocompleteAdapter.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/callout/ExampleBubbleCallout.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/callout/ExampleBubbleCalloutOptions.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/callout/ExampleCallout.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/callout/ExampleCalloutManager.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/callout/ExampleCalloutOptions.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/ExampleLocationEngineListener.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/ExampleMilestoneEventListener.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/ExampleOffRouteListener.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/ExampleProgressChangeListener.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/ExampleRouteFinder.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/permissions/PermissionRequestDialog.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/utils/ActivityExt.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/utils/DelegatesExt.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/utils/RouteProgressUtils.kt
  app/src/main/res/drawable/autocomplete_bottomsheet_background.xml
  app/src/main/res/drawable/ic_cancel.xml
  app/src/main/res/drawable/ic_directions.xml
  app/src/main/res/drawable/ic_my_location.xml
  app/src/main/res/drawable/ic_navigation.xml
  app/src/main/res/drawable/ic_settings.xml
  app/src/main/res/layout/activity_example.xml
  app/src/main/res/layout/callout.xml
  app/src/main/res/layout/example_autocomplete_list_item.xml
  app/src/main/res/layout/offline_dialog_layout.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/xml/fragment_navigation_preferences.xml
  build.gradle
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, test app, ✓ ready for review

#1499 Check for valid geocoding response in ExamplePresenter
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExamplePresenter.kt
Labels: bug, navigation-ui, ✓ ready for review

#1500 Remove MapboxNavigationOptions ignored by Navigator
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/MapboxNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncherOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/ToleranceUtils.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/ToleranceUtilsTest.java
Labels: SEMVER, navigation-core, navigation-ui, ✓ ready for review

#1498 Remove LocationValidator and force last Location if found
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/LocationValidator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineListener.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/location/LocationValidatorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineListenerTest.java
Labels: SEMVER, navigation-core, ✓ ready for review

#1502 Add RouteProgressState to RouteProgress for current Navigator information
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/WaypointNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcher.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteProgress.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteProgressState.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteProgressStateMap.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcherTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/RouteUtilsTest.java
Labels: SEMVER, navigation-core, navigation-ui, ✓ ready for review

#1457 Update Maps SDK Release 6.7.0
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, ✓ ready for review

#1505 Release v0.23.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui, release

#1508 Update README.md for v0.23.0
  README.md
Labels: navigation-core, navigation-ui, release, ✓ ready for review

#1506 Generate and push code coverage to codecov.io in CI
  circle.yml
  gradle/dependencies.gradle
  gradle/jacoco.gradle
Labels: navigation-core, navigation-ui, ✓ ready for review

#1509 Update README.md with codecov badge
  README.md
Labels: navigation-core, navigation-ui, ✓ ready for review

#1510 Update codecov badge to Navigation 😅
  README.md
Labels: navigation-core, navigation-ui, ✓ ready for review

#1511 Remove translation path for offline initialization
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRerouteActivity.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
Labels: navigation-core, ✓ ready for review

#1513 Update translations to latest Transifex
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-vi/strings.xml
  libandroid-navigation-ui/src/main/res/values-bg/strings.xml
  libandroid-navigation-ui/src/main/res/values-cs/strings.xml
  libandroid-navigation-ui/src/main/res/values-vi/strings.xml
  libandroid-navigation/src/main/res/values-bg/strings.xml
Labels: navigation-ui, ✓ ready for review

#1522 Use most recent raw Location when building snapped Location
  build.gradle
  gradle/dependencies.gradle
  libandroid-navigation/build.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteProcessorRunnable.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/SnapToRoute.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/snap/SnapToRouteTest.java
Labels: SEMVER, bug, navigation-core, ✓ ready for review

#1515 Cancel outstanding Directions API requests onDestroy NavigationViewModel
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/ViewRouteFetcher.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/ViewRouteFetcherTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteFetcher.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/route/RouteFetcherTest.java
Labels: navigation-ui, new API(s), ✓ ready for review

#1525 Update Navigator to 3.4.0
  gradle/dependencies.gradle
Labels: navigation-core, ✓ ready for review

#1481 Fix voice instructions cache
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleViewModel.kt
  build.gradle
  gradle/dependencies.gradle
  libandroid-navigation-ui/build.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/VoiceInstructionCache.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/ImageCoordinator.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechDownloadTask.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechPlayerProvider.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/VoiceInstructionLoader.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/VoiceInstructionCacheTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechPlayerProviderTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/voice/VoiceInstructionLoaderTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/VoiceInstructionLoader.java
Labels: SEMVER, blocked: upstream, bug, navigation-core, navigation-ui, topic: instructions, topic: voice, ✓ ready for review

#1530 Fix NavigationMapRoute ArrayIndexOutOfBoundsException
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/MapboxNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRouteTest.java
Labels: SEMVER, bug, navigation-ui, ✓ ready for review

#1532 Remove unnecessary proguard rule resolved in Java services 4.1.0
  libandroid-navigation/proguard-consumer.pro
Labels: chore, navigation-core, ✓ ready for review

#1534 Added MapboxOfflineRouter and removed snapshots
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRerouteActivity.java
  build.gradle
  gradle/dependencies.gradle
  libandroid-navigation-ui/build.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxOfflineNavigator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineNavigator.java
Labels: ⚠️ DO NOT MERGE

#1540 Prevent from requesting voice instructions if the cache has been closed
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleViewModel.kt
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/VoiceInstructionLoader.java
Labels: bug, navigation-core, navigation-ui, topic: instructions, topic: voice, ✓ ready for review

#1542 Always add FeatureCollection for way points in NavigationMapRoute
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationMapRouteTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1541 Release v0.24.0.beta.1
  CHANGELOG.md
Labels: release

#1546 Ignore PendingIntent to re-open package with null Intent
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
Labels: bug, navigation-ui, ✓ ready for review

#1544 Add listener for updates to map way name
  libandroid-navigation-ui/build.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapWayname.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/OnWayNameChangedListener.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapWaynameTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/WaynameFeatureFinderTest.java
  libandroid-navigation/build.gradle
Labels: feature, navigation-ui, ✓ ready for review

#1547 Nav Native API update
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRerouteActivity.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxOfflineNavigator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxOfflineRouter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineNavigator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineRouteFoundCallback.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineRouteRetrievalTask.java
Labels: ✓ ready for review

#1548 Fix UI tests with DirectionsRoute test fixture
  app/src/androidTest/java/testapp/NavigationViewOrientationTest.java
  app/src/androidTest/java/testapp/NavigationViewTest.java
  app/src/androidTest/java/testapp/action/NavigationViewAction.java
  app/src/androidTest/java/testapp/activity/BaseNavigationActivityTest.java
  app/src/androidTest/java/testapp/utils/OnNavigationReadyIdlingResource.java
  app/src/main/assets/lancaster-1.json
  circle.yml
Labels: navigation-ui, test app, tests, ✓ ready for review

#1554 Add binary size metric and push to loading dock
  circle.yml
  cloudformation/ci.template.js
  package.json
  scripts/check_binary_size.sh
  scripts/labels_file.txt
  scripts/paths_file.txt
  scripts/platforms_file.txt
  scripts/publish_to_aws.sh
  scripts/publish_to_sizechecker.js
  scripts/release.py
Labels: navigation-core, navigation-ui, performance

#1536 Update processor tests and remove unused helper code
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationIndices.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelperTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/RouteProcessorRunnableTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetectorTest.java
Labels: navigation-core, tests, ✓ ready for review

#1556 Check for valid route with length in MockNavigationActivity
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
Labels: bug, test app, ✓ ready for review

#1558 Bump mapboxEvents and mapboxNavigator versions
  gradle/dependencies.gradle
Labels: navigation-core, quick fix, ✓ ready for review

#1555 Fix cache is closed crash
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/VoiceInstructionLoader.java
Labels: bug, navigation-core, navigation-ui, topic: instructions, topic: voice, ✓ ready for review

#1560 Check for DynamicCamera in ExampleViewModel shutdown
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleViewModel.kt
Labels: bug, navigation-ui, test app, ✓ ready for review

#1561 Ignore StyleKit files for codecov
  codecov.yml
Labels: navigation-ui, ✓ ready for review

#1562 Integrate navigation state changes from latest events library version
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationMetricsWrapper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
Labels: navigation-core, topic: telemetry

#1563 Fix malformed binary size JSON
  circle.yml
  scripts/check_binary_size.sh
  scripts/sdks_file.txt
Labels: navigation-core, navigation-ui, performance

#1564 Fix JSON file names (repo name) in check binary size script
  scripts/check_binary_size.sh
Labels: navigation-core, navigation-ui, performance

#1552 Fix milestone / progress listener leaks from NavigationView
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModelTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1559 Route tile download
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/services/android/navigation/testapp/MainActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/NavigationSettingsActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRegionDownloadActivity.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRerouteActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleActivity.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExamplePresenter.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleView.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleViewModel.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/ExampleRouteFinder.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/OfflineRouteFinder.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/OnRoutesFoundCallback.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/RouteFinder.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/permissions/PermissionRequestDialog.kt
  app/src/main/res/layout/activity_offline_region_download.xml
  app/src/main/res/layout/attribution.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/fragment_navigation_preferences.xml
  gradle/dependencies.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechDownloadTask.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/ConfigureRouterTask.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxOfflineRouter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineError.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineNavigator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineRouteError.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineRouteFoundCallback.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineRouteRetrievalTask.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineTileVersions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineTiles.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OnOfflineDataInitialized.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OnOfflineRouteFoundCallback.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OnOfflineTilesConfiguredCallback.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OnTileVersionsFoundCallback.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteTileDownloadListener.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteTileDownloader.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/TileUnpacker.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/UnpackUpdateTask.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/UnpackerTask.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/DownloadTask.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxOfflineRouterTest.java
Labels: feature

#1575 Release v0.24.0-beta.2
  CHANGELOG.md
Labels: navigation-core, navigation-ui, release

#1578 Add write external permission storage to app AndroidManifest
  app/src/main/AndroidManifest.xml
Labels: bug, quick fix, test app, ✓ ready for review

#1580 Enable history recording in example activity
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleActivity.kt
Labels: test app, ✓ ready for review

#1581 Update permissions and preferences for ExampleActivity
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/services/android/navigation/testapp/MainActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/NavigationSettingsActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRerouteActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleActivity.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExamplePresenter.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleView.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleViewModel.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/OfflineRouteFinder.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/RouteFinder.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/permissions/PermissionRequestDialog.kt
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/fragment_navigation_preferences.xml
Labels: bug, navigation-ui, test app, ✓ ready for review

#1583 Only allow choosing an offline version with valid data
  app/src/main/java/com/mapbox/services/android/navigation/testapp/NavigationSettingsActivity.java
  app/src/main/res/xml/fragment_navigation_preferences.xml
Labels: bug, test app, ✓ ready for review

#1584 Bump mapbox-android-sdk and mapbox-android-telemetry versions
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, quick fix, ✓ ready for review
