Repository mapbox/mapbox-navigation-android, pull requests merged in 2018-03, with the labels that each got.

#728 Fix initialization of directions list
  circle.yml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug

#734 Update LocationLayerPlugin to 0.4.0
  gradle/dependencies.gradle
  libandroid-navigation-ui/src/main/res/values/styles.xml
Labels: navigation-ui

#732 Update Maps SDK 5.5.0
  gradle/dependencies.gradle
Labels: navigation-ui

#733 Fix visibility bug with TurnLanes
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, navigation-ui

#741 Fix same point being added twice for LatLngBounds
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/DynamicCamera.java
Labels: bug, navigation-ui, topic: camera

#738 Update MAS Dependencies
  gradle/dependencies.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
Labels: bug, navigation-ui

#739 Fix Recent Distances from maneuver Off-Route
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEngine.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NewLocationModel.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetectorTest.java
Labels: bug, navigation-core

#749 NavigationView Landscape Optimizations
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/res/drawable-v21/sub_banner_background.xml
  libandroid-navigation-ui/src/main/res/drawable/sub_banner_background.xml
  libandroid-navigation-ui/src/main/res/layout-land/instruction_layout.xml
  libandroid-navigation-ui/src/main/res/layout-land/then_instruction_layout.xml
  libandroid-navigation-ui/src/main/res/layout-land/turn_lane_layout.xml
  libandroid-navigation-ui/src/main/res/layout/sound_layout.xml
Labels: bug, navigation-ui

#753 Create camera animation from time between updates
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
Labels: navigation-ui

#762 Update EventListener Thread Safe
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcher.java
Labels: bug, navigation-core

#756 Force first location update without last location
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
Labels: navigation-core, navigation-ui

#767 Add baseUrl to NavigationRoute and Turf conversion
  gradle/dependencies.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/MockLocationEngine.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/SnapToRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/DistanceUtils.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/MeasurementUtils.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/ToleranceUtils.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteStepProgressTest.java
Labels: navigation-core, ✓ ready for review

#766 Stop scroll of InstructionList before hiding
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, navigation-ui

#772 Fix MapRoute listener not firing for index 0
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
Labels: bug, navigation-ui

#763 Allow setting of custom destination marker in theme
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/ThemeSwitcher.java
  libandroid-navigation-ui/src/main/res/values/attrs.xml
  libandroid-navigation-ui/src/main/res/values/styles.xml
Labels: navigation-ui

#773 Fix distancesFromManeuver not being cleared
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationViewActivity.java
  app/src/main/res/layout/activity_navigation_view.xml
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEngine.java
Labels: bug, navigation-core, ✓ ready for review

#775 Adjust sound layout margins
  libandroid-navigation-ui/src/main/res/layout/instruction_view_layout.xml
Labels: bug, navigation-ui

#785 Add localization instructions
  CONTRIBUTING.md
  README.md
Labels: topic: documentation, topic: localization

#795 Decrease Robo tests time to 5 minutes
  circle.yml
Labels: tests

#789 Send departure event with a valid distance traveled
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
Labels: bug, navigation-core

#783 Fix OffRoute detection disabled bug
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelper.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelperTest.java
Labels: bug, navigation-core

#784 Extract NavigationEngine processing logic and add tests
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEngine.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/BaseTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetectorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/RouteUtilsTest.java
Labels: bug, navigation-core

#788 Remove last location check from location validation
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEngine.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/BaseTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessorTest.java
Labels: bug, navigation-core

#805 Add 12/24 hour format Navigation View Option
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/SummaryBottomSheet.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/SummaryModel.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTimeFormat.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/time/NoneSpecifiedTimeFormat.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/time/TimeFormatResolver.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/time/TimeFormattingChain.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/time/TimeUtils.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/time/TwelveHoursTimeFormat.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/time/TwentyFourHoursTimeFormat.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/time/TimeUtilsTest.java
Labels: navigation-ui, ✓ ready for review

#804 Fixed issue where on fresh install, unit type was defaulting to imper…
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationViewActivity.java
  app/src/main/res/values/arrays.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/fragment_navigation_view_preferences.xml
Labels: bug, navigation-ui

#808 Add stick to chosen route when re-routing with UI functionality
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/DamerauLevenshteinAlgorithm.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/RouteViewModel.java
Labels: navigation-ui, platform parity, ✓ ready for review

#806 Remove NavigationView lifecycle observer and add Fragment Example
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/services/android/navigation/testapp/MainActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/WaypointNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/fragment/FragmentNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/fragment/NavigationFragment.java
  app/src/main/res/layout/activity_navigation_fragment.xml
  app/src/main/res/layout/navigation_view_fragment_layout.xml
  app/src/main/res/values/strings.xml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java
Labels: bug, navigation-ui

#782 Create separate options for Launcher and View
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationViewActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationViewSettingsActivity.java
  app/src/main/res/values/arrays.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/fragment_navigation_view_preferences.xml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncherOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionStepResources.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/RouteViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/list/InstructionListAdapter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
Labels: bug, navigation-ui
