Repository mapbox/mapbox-navigation-android, pull requests merged in 2018-08, with the labels that each got.

#1182 Use application Context for CustomNavigationNotification example
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/notification/CustomNavigationNotification.java
Labels: bug, navigation-ui, test app, ✓ ready for review

#1180 Re-initialize arrow sources in NavigationMapRoute after style loaded
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationMapRouteActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
Labels: bug, navigation-ui, ✓ ready for review

#1181 Update LeakCanary to 1.6.1
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, ✓ ready for review

#1152 Check dispatcher on announcement and instruction events in ViewModel
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
Labels: bug, navigation-ui

#1150 Fix exception when adding routes in NavigationMapRoute
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteProgressChangeListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteProgressChangeListenerTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1184 Add ETA support for the notification back
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
Labels: bug, navigation-core, ✓ ready for review

#1174 Consolidate InstructionView DistanceFormatters
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/list/InstructionListAdapter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/list/InstructionListPresenter.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/summary/list/InstructionListPresenterTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/DistanceFormatter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/LocaleUtils.java
Labels: bug, navigation-ui, ✓ ready for review

#1172 Update dependencies LLP, ConstraintLayout
  gradle/dependencies.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionTarget.java
Labels: navigation-ui, ✓ ready for review

#1166 Fix SpeechAnnouncementListener example and add tests
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechAnnouncement.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechAnnouncementTest.java
Labels: navigation-ui, test app, ✓ ready for review

#1145 Transifex Updates
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-vi/strings.xml
  libandroid-navigation/src/main/res/values-es/strings.xml
  libandroid-navigation/src/main/res/values-fr/strings.xml
  libandroid-navigation/src/main/res/values-pt-rPT/strings.xml
  libandroid-navigation/src/main/res/values-vi/strings.xml
Labels: navigation-ui, topic: localization, ✓ ready for review

#1167 Fix OffRoute engine cleared before service shutdown
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/DynamicCamera.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEngineFactory.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEngineFactoryTest.java
Labels: bug, navigation-core, navigation-ui, ✓ ready for review

#1162 Added InstanceState to simplify saving the state
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewInstanceState.java
  libandroid-navigation-ui/src/main/res/values/strings.xml
Labels: ✓ ready for review

#1113 Provide example of showing and hiding Fragment with NavigationView
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/fragment/FragmentNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/fragment/NavigationFragment.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/fragment/PlaceholderFragment.java
  app/src/main/res/drawable/ic_car.xml
  app/src/main/res/layout/activity_navigation_fragment.xml
  app/src/main/res/layout/placeholder_fragment_layout.xml
Labels: navigation-ui, test app, ✓ ready for review

#1157 Remove Location filter and check Location#getAccuracy
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/LocationValidator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/location/LocationValidatorTest.java
Labels: navigation-core, topic: location, ✓ ready for review

#1187 Add gradle-versions-plugin to the project
  Makefile
  app/build.gradle
  build.gradle
  gradle/dependencies.gradle
  gradle/dependency-updates.gradle
  libandroid-navigation-ui/build.gradle
  libandroid-navigation/build.gradle
Labels: ✓ ready for review

#1194 Retrieve feedback Strings from Resources
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/feedback/FeedbackAdapter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/feedback/FeedbackBottomSheet.java
  libandroid-navigation-ui/src/main/res/values/strings.xml
Labels: bug, navigation-ui, topic: localization, ✓ ready for review

#1179 Allow access to NavigationMapboxMap and MapboxNavigation
  app/build.gradle
  app/src/androidTest/java/com/mapbox/services/android/navigation/ui/v5/NavigationMapRouteAction.java
  app/src/androidTest/java/com/mapbox/services/android/navigation/ui/v5/NavigationMapRouteTest.java
  app/src/androidTest/java/com/mapbox/services/android/utils/OnMapReadyIdlingResource.java
  app/src/androidTest/java/com/mapbox/services/android/utils/WaitLoopAction.java
  app/src/androidTest/java/testapp/NavigationViewOrientationTest.java
  app/src/androidTest/java/testapp/NavigationViewTest.java
  app/src/androidTest/java/testapp/action/OrientationChangeAction.java
  app/src/androidTest/java/testapp/activity/BaseNavigationActivityTest.java
  app/src/androidTest/java/testapp/utils/OnNavigationReadyIdlingResource.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EndNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/test/TestNavigationActivity.java
  circle.yml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/DynamicCamera.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/camera/SimpleCamera.java
Labels: feature, navigation-ui, ✓ ready for review

#1196 Update Java SDK to 3.4.0
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, ✓ ready for review

#1200 Revert MAS version from 3.4.0 to 3.3.0
  gradle/dependencies.gradle
Labels: bug, release blocker

#1143 Notify InstructionListAdapter after animation finishes
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionListTransitionListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/list/InstructionListPresenter.java
Labels: bug, navigation-ui, ✓ ready for review

#1203 Bump MAS version to 3.4.1
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, ✓ ready for review

#1206 Release v0.17.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui, release

#1212 Add Boolean in MapboxSpeechPlayer to prevent IllegalStateException
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java
Labels: bug, navigation-ui, ✓ ready for review

#1213 Only reset night mode for EmbeddedNavigationActivity when isFinishing
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
Labels: bug, test app, ✓ ready for review

#1214 Do not scroll Instruction RecyclerView while animating
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionListTransitionListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, navigation-ui

#1221 Reopen the app when when clicking the whole notification
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
Labels: feature, navigation-core

#1229 Add initialization logic for null RouteOptions
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
Labels: bug, navigation-ui, ✓ ready for review

#1234 Update Map styles to V4 with incident coverage
  libandroid-navigation-ui/src/main/res/values/strings.xml
Labels: feature, navigation-ui, ✓ ready for review

#1226 Add toggles in NavigationMapboxMap for traffic and incident data
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapLayerInteractor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapWayname.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/WaynameLayerInteractor.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapLayerInteractorTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapWaynameTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapTest.java
Labels: feature, navigation-ui, ✓ ready for review

#1237 Add Burmese, Finnish, Korean, Norwegian guidance
  localization.md
Labels: topic: documentation, topic: localization

#1238 0.18.0 README bump
  README.md
Labels: quick fix, release, ✓ ready for review

#1232 Add NavigationViewOption for custom SpeechPlayer implementation
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/SpeechPlayer.java
Labels: feature, navigation-ui, ✓ ready for review

#1247 Update NavigationView to guard against duplicate initializations
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
Labels: bug, navigation-ui, ✓ ready for review

#1219 Add example with MapboxNavigation driving separate UI components
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/services/android/navigation/testapp/MainActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  app/src/main/res/drawable/ic_expand_less_black_24dp.xml
  app/src/main/res/drawable/ic_expand_more_black_24dp.xml
  app/src/main/res/drawable/ic_my_location_black_24dp.xml
  app/src/main/res/layout/activity_component_navigation.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
Labels: navigation-ui, test app, ✓ ready for review

#1215 Save and restore map state on rotation for way name and camera tracking
  app/src/androidTest/java/testapp/NavigationViewOrientationTest.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapWayname.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapInstanceState.java
  libandroid-navigation-ui/src/main/res/values/strings.xml
Labels: bug, navigation-ui, ✓ ready for review

#1250 Fix route leg progress current leg annotation Javadoc broken link
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteLegProgress.java
Labels: bug, quick fix, topic: documentation, ✓ ready for review
