Repository mapbox/mapbox-navigation-android, pull requests merged in 2018-05, with the labels that each got.

#894 Remove use of LiveData for fetching DirectionsRoute and updating Location
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/WaypointNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/fragment/NavigationFragment.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewSubscriber.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationEngineConductor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationEngineConductorListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/RouteViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/ViewRouteFetcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/ViewRouteListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationInstructionPlayer.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/BaseTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/LocationEngineConductorTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcherTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewRouteEngineTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationUnitType.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/FasterRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteEngine.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteFetcher.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteListener.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
Labels: bug, navigation-ui

#905 Reverse maneuver sharp left resource
  libandroid-navigation/src/main/res/drawable/ic_maneuver_turn_75_left.xml
Labels: bug, navigation-ui

#908 Add missing uturn step maneuver modifier to should flip modifiers set
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/maneuver/ManeuverView.java
Labels: bug, ✓ ready for review

#907 Bump Mapbox SDK Services to 3.1.0 version
  gradle/dependencies.gradle
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/ViewRouteFetcherTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
Labels: ✓ ready for review

#910 Release 0.13.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui

#913 Update localization.md
  localization.md
Labels: navigation-ui, topic: localization

#914 Remove AWS Polly dependency not needed anymore
  gradle/dependencies.gradle
  libandroid-navigation-ui/build.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java
Labels: ✓ ready for review

#916 Check NavigationOptions in NavigationService
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
Labels: bug, navigation-core

#939 Remove onStyleLoaded Callback in NavigationView
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/ThemeSwitcher.java
Labels: bug, navigation-ui

#938 Update ConstraintLayout, Support Lib, and LocationLayerPlugin dependencies
  circle.yml
  gradle/dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
  libandroid-navigation-ui/javadoc.gradle
  libandroid-navigation-ui/src/main/res/layout/feedback_button_layout.xml
  libandroid-navigation/javadoc.gradle
Labels: navigation-core, navigation-ui

#925 Added null check to make sure a file is actually returned
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/InstructionDownloadTask.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/InstructionListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationInstructionPlayer.java
Labels: bug

#937 Update translation Strings and add Burmese
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-my/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-ru/strings.xml
  libandroid-navigation-ui/src/main/res/values-my/strings.xml
  libandroid-navigation/src/main/res/values-cs/strings.xml
  libandroid-navigation/src/main/res/values-de/strings.xml
  libandroid-navigation/src/main/res/values-my/strings.xml
  libandroid-navigation/src/main/res/values-ru/strings.xml
  localization.md
Labels: navigation-core, navigation-ui, topic: localization

#944 Add NavigationHelper check for valid step points using lineSlice
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelper.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelperTest.java
Labels: bug, navigation-core

#948 Fix navigation guidance styles keys
  libandroid-navigation-ui/src/main/res/values/strings.xml
  libandroid-navigation-ui/src/main/res/values/styles.xml
Labels: navigation-ui, ✓ ready for review

#952 Fix link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: bug, topic: documentation

#887 Dynamic abbreviations in banner instructions
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/AbbreviationCoordinator.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/BannerShield.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/BannerShieldInfo.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/ImageCoordinator.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionLoader.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionTarget.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/TextViewUtils.java
  libandroid-navigation-ui/src/main/res/layout/instruction_content_layout.xml
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/instruction/AbbreviationCoordinatorTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/instruction/BannerComponentsFaker.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionLoaderTest.java
Labels: feature

#961 Disable debug logging for Telemetry and Image loading
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/ImageCoordinator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationMetricsWrapper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
Labels: navigation-core

#962 Update Maps SDK 6.1.2
  gradle/dependencies.gradle
Labels: navigation-ui

#975 Update Maps SDK to 6.1.3 and Events library to 3.1.2
  gradle/dependencies.gradle
Labels: ✓ ready for review

#974 Add List of Milestones to NavigationViewOptions
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationTest.java
Labels: navigation-ui, ✓ ready for review

#943 Use last BannerInstruction for arrival event
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/WaypointNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/listeners/RouteListener.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcherTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/BannerInstructionMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcher.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/metrics/NavigationMetricListeners.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteFetcher.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/BaseTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcherTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelperTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteStepProgressTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/RouteUtilsTest.java
  libandroid-navigation/src/test/resources/directions_distance_congestion_annotation.json
  libandroid-navigation/src/test/resources/directions_v5.json
  libandroid-navigation/src/test/resources/directions_v5_no_voice.json
  libandroid-navigation/src/test/resources/directions_v5_precision_6.json
  libandroid-navigation/src/test/resources/navigation.json
  libandroid-navigation/src/test/resources/single_intersection.json
Labels: navigation-ui, topic: telemetry, ✓ ready for review

#980 Always provide DirectionsRoute in NavigationActivity
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/ViewRouteFetcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationInstructionPlayer.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
Labels: bug, navigation-ui
