Repository mapbox/mapbox-navigation-android, pull requests merged in 2018-10, with the labels that each got.

#1363 Do not remove OffRouteListeners onArrival
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcher.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcherTest.java
Labels: bug, navigation-core, ✓ ready for review

#1366 Release v0.20.0
  CHANGELOG.md
  gradle.properties
Labels: release, ✓ ready for review

#1374 Fix multi on click listener NPE in recenter button
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/RecenterButton.java
Labels: bug, navigation-ui, quick fix, ✓ ready for review

#1377 Camera tracking modes selection with GPS and North as options
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationOnFlingListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapInstanceState.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/DynamicCameraTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/camera/Camera.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/camera/SimpleCamera.java
Labels: SEMVER, feature, navigation-ui, ✓ ready for review

#1382 Bump mapbox-android-plugin-locationlayer version to 0.10.0
  gradle/dependencies.gradle
Labels: quick fix, topic: location, ✓ ready for review

#1386 Add OnCameraTrackingChangedListener to NavigationMapboxMap
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationOnCameraTrackingChangedListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationOnFlingListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationOnMoveListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationOnCameraTrackingChangedListenerTest.java
Labels: SEMVER, feature, navigation-ui, ✓ ready for review

#1388 Add CustomNavigationNotification notification channel
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/notification/CustomNavigationNotification.java
Labels: bug, test app, ✓ ready for review

#1396 Release v0.21.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui, release

#1394 README tweak
  README.md
Labels: topic: documentation

#1406 Bump mapbox-navigation-native version to 3.1.5
  gradle/dependencies.gradle
Labels: navigation-core, quick fix, ✓ ready for review

#1408 Consume Sub BannerText in InstructionView
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/BannerInstructionModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionStepResources.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/res/layout-land/instruction_layout.xml
  libandroid-navigation-ui/src/main/res/layout-land/sub_instruction_layout.xml
  libandroid-navigation-ui/src/main/res/layout/instruction_view_layout.xml
  libandroid-navigation-ui/src/main/res/layout/sub_instruction_layout.xml
Labels: SEMVER, bug, navigation-ui, ✓ ready for review

#1310 Update Maps v6.6.0 release
  gradle/dependencies.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationMetricsWrapper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/metrics/SessionState.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/MetricsRouteProgress.java
Labels: navigation-ui, ✓ ready for review

#1411 Delay start navigation until route received in MockNavigationActivity
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
Labels: bug, test app, ✓ ready for review

#1415 Bump Android Gradle plugin version to 3.2.1
  gradle/dependencies.gradle
Labels: quick fix, ✓ ready for review

#1414 Fix shields not showing up for some display densities
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/UrlDensityMap.java
Labels: bug, navigation-ui, topic: instructions, ✓ ready for review

#1418 Load sub-banner Shield Images
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: navigation-ui, ✓ ready for review

#1392 Add tunnels functionality
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/fragment/NavigationFragment.java
  app/src/main/res/values/strings.xml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/MapboxNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/ThemeSwitcher.java
  libandroid-navigation-ui/src/main/res/values/strings.xml
Labels: navigation-ui, ✓ ready for review

#1156 Filter queried Features for map way name
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/FeatureFilterTask.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapWayname.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapWaynameProgressChangeListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/OnFeatureFilteredCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/WaynameFeatureFilter.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapWaynameTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/WaynameFeatureFilterTest.java
  libandroid-navigation-ui/src/test/resources/feature_one.json
  libandroid-navigation-ui/src/test/resources/feature_two.json
Labels: navigation-ui, performance improvement, platform parity, ✓ ready for review

#1425 Log TimeFormatter error in place of IllegalArgumentException
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/time/TimeFormatter.java
Labels: bug, navigation-ui, ✓ ready for review

#1426 Add no value checks for FixLocation in MapboxNavigator
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
Labels: navigation-core

#1428 Revert Shield URL density additions
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/UrlDensityMap.java
Labels: bug, navigation-ui, ✓ ready for review

#1429 Check for null maneuver type in ManeuverView
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/maneuver/ManeuverView.java
Labels: bug, navigation-ui, ✓ ready for review

#1373 Add FusedLocationEngine to Test App
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/location/ForwardingLocationCallback.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/location/FusedLocationEngine.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
Labels: test app, ✓ ready for review

#1432 Stop scrolling before notifying InstructionListAdapter
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionListTransitionListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, navigation-ui, ✓ ready for review

#1434 Update Maps SDK 6.6.1 and Events 3.4.0
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, ✓ ready for review

#1433 Update Transifex latest translations
  libandroid-navigation-ui/src/main/res/values-ko/strings.xml
  libandroid-navigation-ui/src/main/res/values-pt-rBR/strings.xml
  libandroid-navigation/src/main/res/values-ko/strings.xml
  libandroid-navigation/src/main/res/values-pt-rBR/strings.xml
  libandroid-navigation/src/main/res/values-pt-rPT/strings.xml
Labels: navigation-ui, ✓ ready for review

#1436 Update UrlDensityMap for more screen densities
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/UrlDensityMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/list/InstructionListPresenter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/list/InstructionViewHolder.java
Labels: bug, navigation-ui, ✓ ready for review

#1435 Check for valid index before updating steps in NavigationRouteProcessor
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java
Labels: bug, navigation-core, ✓ ready for review

#1446 Fix sub BannerText loading shields for first time
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionTarget.java
Labels: bug, navigation-ui, ✓ ready for review

#1447 Add base HistoryActivity for testing
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/HistoryActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/StoreHistoryTask.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
Labels: navigation-core, navigation-ui, tests, ✓ ready for review

#1440 Update InstructionView to consume turn lane data from sub BannerText
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/turnlane/LanesStyleKit.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/turnlane/TurnLaneAdapter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/turnlane/TurnLaneView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/turnlane/TurnLaneViewData.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
Labels: navigation-ui, refactor, ✓ ready for review

#1451 Adjust InstructionView primary and secondary loading logic
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, navigation-ui, ✓ ready for review

#1454 Update progruard rules to ensure Navigator is kept in release builds
  libandroid-navigation/proguard-consumer.pro
Labels: bug, navigation-core, ✓ ready for review

#1455 Rebuild MapboxNavigationNotification for each update
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationNotificationProvider.java
Labels: bug, navigation-core, navigation-ui, ✓ ready for review

#1438 Replace LocationLayerPlugin with LocationComponent
  app/build.gradle
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/DualNavigationMapActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationLauncherActivity.java
  gradle/dependencies.gradle
  libandroid-navigation-ui/build.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationContract.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationOnCameraTrackingChangedListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/res/values/styles.xml
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapTest.java
Labels: SEMVER, navigation-ui, refactor, ✓ ready for review

#1459 Release v0.22.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui, release

#1460 Update README.md for 0.22.0 Release
  README.md
Labels: navigation-core, navigation-ui, ✓ ready for review

#1467 Update Transifex to latest German translations
  app/src/main/res/values-de/strings.xml
  libandroid-navigation-ui/src/main/res/values-de/strings.xml
Labels: navigation-ui, topic: localization, ✓ ready for review

#1466 Allow access to AlertView and the ability to enable or disable
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/NavigationAlertView.java
  libandroid-navigation-ui/src/main/res/values/strings.xml
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
Labels: SEMVER, navigation-ui, ✓ ready for review

#1475 Update Maps SDK to 6.6.2
  gradle/dependencies.gradle
Labels: navigation-ui, ✓ ready for review

#1479 Update time remaining TextView to auto-size for longer durations
  libandroid-navigation-ui/src/main/res/layout/summary_peek_content_layout.xml
Labels: bug, navigation-ui, ✓ ready for review

#1474 Rebuild RemoteViews for MapboxNavigationNotification on each update
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
Labels: bug, navigation-ui, needs field testing, ✓ ready for review

#1482 Update MapRouteProgressChangeListener to be aware of route visibility
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteProgressChangeListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
Labels: bug, navigation-ui, ✓ ready for review

#1473 Remove dynamic padding way name adjustment for MapWayname
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapPaddingAdjustor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapPaddingInstanceState.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapWayname.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapInstanceState.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapPaddingAdjustorTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapWaynameTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1483 Add CameraPosition option for initializing NavigationView
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationLauncherActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/MapboxNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncherOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
Labels: SEMVER, feature, navigation-ui, ✓ ready for review

#1488 Remove unnecessary force first location update from route (origin)
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineUpdater.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineUpdaterTest.java
Labels: navigation-core, quick fix, topic: location, ✓ ready for review
