Repository mapbox/mapbox-navigation-android, pull requests merged in 2018-04, with the labels that each got.

#815 Update to MAS 3.0.1
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, size: S, topic: directions

#816 Set default driving profile and check for empty profile
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/RouteViewModel.java
Labels: bug, navigation-ui

#690 Create LocationValidator for checking new location updates
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/LocationValidator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
Labels: navigation-core

#818 Add MapboxNavigationOptions to adjust location validation thresholds
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/LocationValidator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
Labels: navigation-core, topic: location

#820 Release v0.12.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui

#825 Fix Proguard issues
  app/build.gradle
  circle.yml
  libandroid-navigation-ui/build.gradle
  libandroid-navigation-ui/proguard-consumer.pro
  libandroid-navigation/build.gradle
  libandroid-navigation/proguard-consumer.pro
Labels: bug, ✓ ready for review

#828 Remove NavigationCamera ProgressChangeListener as public api
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTest.java
Labels: bug, navigation-ui

#751 Integrate API Voice
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncherOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/AndroidSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/InstructionDownloadTask.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/InstructionListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/InstructionPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationInstructionPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/polly/InstructionTask.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/polly/PollyPlayer.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/VoiceInstructionLoader.java
  localization.md
Labels: ⚠️ DO NOT MERGE

#838 Add AutoValue Proguard rule
  libandroid-navigation/proguard-consumer.pro
Labels: ✓ ready for review

#849 Remove draw routes and add direction waypoints calls already being called
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
Labels: bug, navigation-ui, ✓ ready for review

#829 Validate route profile passed into RouteViewModel
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationViewActivity.java
  app/src/main/res/xml/fragment_navigation_view_preferences.xml
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/RouteViewModel.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/RouteUtilsTest.java
Labels: bug, navigation-ui

#852 Added null checks in case the user isn't using voice instructions
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestone.java
Labels: bug, navigation-core

#850 Add gradle-dependency-graph-generator-plugin to the project
  Makefile
  gradle/dependencies-graph.gradle
  gradle/dependencies.gradle
  libandroid-navigation-ui/.gitignore
  libandroid-navigation-ui/build.gradle
  libandroid-navigation/.gitignore
  libandroid-navigation/build.gradle
Labels: ✓ ready for review

#856 Add NavigationLauncherOption snap-to-route enabled
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncherOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
Labels: feature, navigation-ui, size: S

#857 Add null start timestamp check for metric events
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationMetricsWrapper.java
Labels: bug, navigation-core, topic: telemetry

#865 Update Maps SDK 5.5.2
  gradle/dependencies.gradle
Labels: navigation-ui

#866 Check for null camera engine before returning from MapboxNavigation
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationTest.java
Labels: bug, navigation-core

#812 Upgrade RouteProgress Step Data
  Makefile
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/DynamicCamera.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/BaseTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/TestRouteBuilder.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/TestRouteProgressBuilder.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/DynamicCameraTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEngine.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/CurrentLegAnnotation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteLegProgress.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteProgress.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteStepProgress.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/Snap.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/SnapToRoute.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/BaseTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/MockLocationBuilder.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/TestRouteBuilder.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/TestRouteProgressBuilder.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/milestone/StepMilestoneTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/milestone/TriggerPropertyTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/milestone/TriggerTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/FasterRouteDetectorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcherTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelperTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetectorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteLegProgressTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteProgressTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteStepProgressTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/snap/SnapToRouteTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/RouteUtilsTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/ToleranceUtilsTest.java
  libandroid-navigation/src/test/resources/directions_distance_congestion_annotation.json
  libandroid-navigation/src/test/resources/directions_v5.json
  libandroid-navigation/src/test/resources/navigation.json
  libandroid-navigation/src/test/resources/single_intersection.json
Labels: navigation-core

#854 Use BannerText roundabout degrees + Banner and Voice Milestone Tests
  Makefile
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/maneuver/ManeuverView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/maneuver/ManeuverViewMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/maneuver/ManeuverViewUpdate.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/list/InstructionListAdapter.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcherTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/BannerInstructionMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/milestone/BannerInstructionMilestoneTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/milestone/VoiceInstructionMilestoneTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteLegProgressTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteProgressTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteStepProgressTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/RouteUtilsTest.java
  libandroid-navigation/src/test/resources/directions_v5.json
  libandroid-navigation/src/test/resources/directions_v5_precision_6.json
  libandroid-navigation/src/test/resources/navigation.json
  libandroid-navigation/src/test/resources/single_intersection.json
Labels: feature, navigation-ui

#870 Update new Transifex translation Strings
  .tx/config
  libandroid-navigation-ui/src/main/res/values-bn/strings.xml
  libandroid-navigation-ui/src/main/res/values-cs/strings.xml
  libandroid-navigation-ui/src/main/res/values-da/strings.xml
  libandroid-navigation-ui/src/main/res/values-de/strings.xml
  libandroid-navigation-ui/src/main/res/values-es/strings.xml
  libandroid-navigation-ui/src/main/res/values-fr/strings.xml
  libandroid-navigation-ui/src/main/res/values-hu/strings.xml
  libandroid-navigation-ui/src/main/res/values-pt-rPT/strings.xml
  libandroid-navigation-ui/src/main/res/values-uk/strings.xml
  libandroid-navigation-ui/src/main/res/values-vi/strings.xml
  libandroid-navigation/src/main/res/values-bn/strings.xml
  libandroid-navigation/src/main/res/values-cs/strings.xml
  libandroid-navigation/src/main/res/values-da/strings.xml
  libandroid-navigation/src/main/res/values-es/strings.xml
  libandroid-navigation/src/main/res/values-fr/strings.xml
  libandroid-navigation/src/main/res/values-hu/strings.xml
  libandroid-navigation/src/main/res/values-pt-rBR/strings.xml
  libandroid-navigation/src/main/res/values-pt-rPT/strings.xml
  libandroid-navigation/src/main/res/values-ru/strings.xml
  libandroid-navigation/src/main/res/values-sv/strings.xml
  libandroid-navigation/src/main/res/values-uk/strings.xml
Labels: navigation-core, navigation-ui, size: S, topic: localization

#878 Fix Feedback FAB margins
  libandroid-navigation-ui/src/main/res/layout/feedback_button_layout.xml
  libandroid-navigation-ui/src/main/res/layout/sound_layout.xml
  libandroid-navigation-ui/src/main/res/values-hdpi/dimens.xml
  libandroid-navigation-ui/src/main/res/values-mdpi/dimens.xml
  libandroid-navigation-ui/src/main/res/values-xhdpi/dimens.xml
  libandroid-navigation-ui/src/main/res/values-xxhdpi/dimens.xml
  libandroid-navigation-ui/src/main/res/values-xxxhdpi/dimens.xml
  libandroid-navigation-ui/src/main/res/values/dimens.xml
Labels: bug, navigation-ui

#884 Remove app name String resource from libandroid-navigation
  .tx/config
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-bn/strings.xml
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-he/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-id/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-vi/strings.xml
  app/src/main/res/values/strings.xml
  libandroid-navigation/src/main/res/values-bg/strings.xml
  libandroid-navigation/src/main/res/values-bn/strings.xml
  libandroid-navigation/src/main/res/values-ca/strings.xml
  libandroid-navigation/src/main/res/values-cs/strings.xml
  libandroid-navigation/src/main/res/values-da/strings.xml
  libandroid-navigation/src/main/res/values-de/strings.xml
  libandroid-navigation/src/main/res/values-es/strings.xml
  libandroid-navigation/src/main/res/values-fr/strings.xml
  libandroid-navigation/src/main/res/values-he/strings.xml
  libandroid-navigation/src/main/res/values-hu/strings.xml
  libandroid-navigation/src/main/res/values-id/strings.xml
  libandroid-navigation/src/main/res/values-it/strings.xml
  libandroid-navigation/src/main/res/values-pt-rBR/strings.xml
  libandroid-navigation/src/main/res/values-pt-rPT/strings.xml
  libandroid-navigation/src/main/res/values-ru/strings.xml
  libandroid-navigation/src/main/res/values-sv/strings.xml
  libandroid-navigation/src/main/res/values-uk/strings.xml
  libandroid-navigation/src/main/res/values-vi/strings.xml
  libandroid-navigation/src/main/res/values/strings.xml
Labels: bug, navigation-core

#885 Cancel delayed transitions when InstructionView is detached
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, navigation-ui

#697 Update Maps SDK with MAS 3.0
  app/build.gradle
  app/src/main/java/com/mapbox/services/android/navigation/testapp/MainActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationViewActivity.java
  build.gradle
  gradle/dependencies.gradle
  libandroid-navigation-ui/build.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewSubscriber.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/utils/MapUtils.java
  libandroid-navigation/build.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/MockLocationEngine.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationMetricsWrapper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/metrics/FeedbackEvent.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/metrics/RerouteEvent.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/SnapToRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/DistanceUtils.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/MathUtils.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/FasterRouteDetectorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcherTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelperTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessorTest.java
Labels: navigation-ui

#896 Fixed bug where we weren't checking if the unit type changed before l…
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationViewActivity.java
Labels: bug
