Repository mapbox/mapbox-navigation-android, pull requests merged in 2018-02, with the labels that each got.

#684 Dependencies Bump
  circle.yml
  gradle/dependencies.gradle
Labels: navigation-ui

#685 LocationViewModel obtain best LocationEngine
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationViewModel.java
Labels: navigation-ui

#683 Fix issue with startup in Night Mode
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
Labels: bug, navigation-ui

#689 Cancel animation if AlertView detaches while running
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/alert/AlertView.java
Labels: bug, navigation-ui, ✓ ready for review

#696 Check Turn / Then Banner on each update
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionStepResources.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, ✓ ready for review

#699 Fix FeedbackBottomSheet rotation bug
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/feedback/FeedbackBottomSheet.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, navigation-ui, ✓ ready for review

#700 Fix flashing InstructionView list during re-routes
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
Labels: bug, navigation-ui, ✓ ready for review

#703 Fix bug with MapRoute onClick
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
Labels: bug, navigation-ui, ✓ ready for review

#687 Add bearing to RouteEngine requests
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteEngine.java
Labels: bug, ✓ ready for review

#680 Cache route options / calculate remaining waypoints
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewSubscriber.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/OffRouteEvent.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/RouteViewModel.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteEngine.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
Labels: bug, ✓ ready for review

#667 Off-Route Bug Fixes
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEngine.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NewLocationModel.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteCallback.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/Snap.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/SnapToRoute.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetectorTest.java
Labels: bug, navigation-core, ✓ ready for review

#706 Clear features so DirectionsRoute isn't redrawn when new style loads
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
Labels: bug, ✓ ready for review

#708 Release v0.10.0 beta.1
  CHANGELOG.md
  gradle.properties
Labels: ✓ ready for review

#711 Clean dependencies exposed
  app/build.gradle
  gradle/dependencies.gradle
  libandroid-navigation-ui/build.gradle
  libandroid-navigation/build.gradle
Labels: ✓ ready for review

#712 Fix Javadocs so that supports JDK 8
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/Milestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/RouteMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/StepMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/offroute/OffRouteDetector.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/FasterRoute.java
Labels: topic: documentation, ✓ ready for review

#719 Null check camera tracking
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
Labels: bug, navigation-ui

#721 Fix NPE with MapRoute click listener
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
Labels: bug, navigation-ui

#718 Initialize metric session state in constructor
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
Labels: bug, navigation-core, topic: telemetry
