Repository mapbox/mapbox-navigation-android, pull requests merged in 2019-09, with the labels that each got.

#2044 Fix backwards instructions in left-side driving scenarios
  CHANGELOG.md
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/maneuver/ManeuverView.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/ManeuverMap.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/ManeuverUtils.java
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_left.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_left_left_driving_side.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_right.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_right_left_driving_side.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_sharp_left.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_sharp_left_left_driving_side.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_sharp_right.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_sharp_right_left_driving_side.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_slight_left.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_slight_left_left_driving_side.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_slight_right.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_slight_right_left_driving_side.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_straight.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_roundabout_straight_left_driving_side.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_turn_180.xml
  libandroid-navigation/src/main/res/drawable/ic_maneuver_turn_180_left_driving_side.xml
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotificationManeuverResourceTest.java
Labels: SEMVER, bug, navigation-ui, topic: instructions, ✓ ready for review

#2052 Remove never used apis causing unnecessary memory issues
  CHANGELOG.md
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/TestRouteProgressBuilder.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteLegProgress.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteProgress.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteStepProgress.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/TestRouteProgressBuilder.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationHelperTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteStepProgressTest.java
Labels: SEMVER, performance, performance improvement

#2051 Fix navigation view memory leak - some live data objects from navigat…
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewSubscriber.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/SummaryBottomSheet.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewSubscriberTest.java
Labels: bug, navigation-ui

#2055 Fix code style for PR #2051. Add changes to Changelog.
  CHANGELOG.md
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewSubscriber.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/summary/SummaryBottomSheet.java
Labels: refactor

#2059 Release 0.42.0
  CHANGELOG.md
  README.md
  gradle.properties
  libandroid-navigation-ui/src/main/res/values-ar/strings.xml
  libandroid-navigation-ui/src/main/res/values-bg/strings.xml
  libandroid-navigation-ui/src/main/res/values-bn/strings.xml
  libandroid-navigation-ui/src/main/res/values-cs/strings.xml
  libandroid-navigation-ui/src/main/res/values-da/strings.xml
  libandroid-navigation-ui/src/main/res/values-de/strings.xml
  libandroid-navigation-ui/src/main/res/values-es/strings.xml
  libandroid-navigation-ui/src/main/res/values-fr/strings.xml
  libandroid-navigation-ui/src/main/res/values-gl/strings.xml
  libandroid-navigation-ui/src/main/res/values-he/strings.xml
  libandroid-navigation-ui/src/main/res/values-hu/strings.xml
  libandroid-navigation-ui/src/main/res/values-ko/strings.xml
  libandroid-navigation-ui/src/main/res/values-my/strings.xml
  libandroid-navigation-ui/src/main/res/values-pt-rPT/strings.xml
  libandroid-navigation-ui/src/main/res/values-ru/strings.xml
  libandroid-navigation-ui/src/main/res/values-sv/strings.xml
  libandroid-navigation-ui/src/main/res/values-uk/strings.xml
  libandroid-navigation-ui/src/main/res/values-vi/strings.xml
  libandroid-navigation-ui/src/main/res/values-yo/strings.xml
  libandroid-navigation/src/main/res/values-da/strings.xml
  libandroid-navigation/src/main/res/values-uk/strings.xml
  libandroid-navigation/src/main/res/values-uz/strings.xml
Labels: navigation-core, navigation-ui, release
