Repository mapbox/mapbox-navigation-android, pull requests merged in 2019-06, with the labels that each got.

#1959 Fix notification instruction not updated for arrive maneuver
  CHANGELOG.md
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotification.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationNotificationTest.java
Labels: bug, ✓ ready for review

#1973 release 0.40.0
  README.md
  gradle.properties
Labels: navigation-core, navigation-ui, release

#1978 Update ComponentNavigationActivity example
  CHANGELOG.md
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
Labels: navigation-ui, test app, topic: camera, ✓ ready for review

#1979 Fix DynamicCamera#CameraPosition.zoom NPE
  CHANGELOG.md
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/DynamicCamera.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/DynamicCameraTest.java
Labels: navigation-ui, topic: camera, ✓ ready for review
