Repository mapbox/mapbox-navigation-android, pull requests merged in 2019-11, with the labels that each got.

#2154 Add enhanced localization for free driving
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/HistoryActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  gradle/dependencies.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/FreeDriveLocationUpdater.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/MapboxNavigator.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/NavigationEventDispatcher.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/RouteProcessorThreadListener.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/metrics/NavigationEvent.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/metrics/PhoneState.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/ConfigureRouterTask.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/EnhancedLocationListener.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineNavigator.kt
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/internal/navigation/FreeDriveLocationUpdaterTest.kt
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/internal/navigation/NavigationEventDispatcherTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/internal/navigation/NavigationRouteProcessorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/internal/navigation/RouteProcessorThreadListenerTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/FasterRouteDetectorTest.kt
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationTest.kt
Labels: navigation-core

#2254 Fix initialize location engine regression from #2154
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
Labels: bug, navigation-core

#2256 Fix synchronization issue in MapRouteLine / NavigationMapRoute
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/FeatureProcessingTask.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLine.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/PrimaryRouteUpdateTask.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLineTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/route/PrimaryRouteUpdateTaskTest.java
Labels: bug, navigation-ui, ✓ ready for review

#2258 Release 0.42.3
  CHANGELOG.md
  README.md
Labels: navigation-core, navigation-ui, release

#2263 Cherry picking from base-v0.42.1
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/FeatureProcessingTask.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLine.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/PrimaryRouteUpdateTask.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLineTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/route/PrimaryRouteUpdateTaskTest.java
Labels: ✓ ready for review

#2262 Persist routes across style changes
  build.gradle
  gradle/dependencies.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLayerProvider.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLine.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/utils/MapUtils.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLineTest.java
Labels: ✓ ready for review

#2273 Update translations to latest Transifex
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-uk/strings.xml
  libandroid-navigation-ui/src/main/res/values-fa/strings.xml
  libandroid-navigation-ui/src/main/res/values-ja/strings.xml
  libandroid-navigation-ui/src/main/res/values-uk/strings.xml
  libandroid-navigation-ui/src/main/res/values-vi/strings.xml
  libandroid-navigation/src/main/res/values-fa/strings.xml
  libandroid-navigation/src/main/res/values-ja/strings.xml
  libandroid-navigation/src/main/res/values-uk/strings.xml
Labels: navigation-core, navigation-ui, test app, topic: localization, ✓ ready for review

#2276 Off-route threshold options
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
Labels: feature, navigation-core

#2277 Update translations to latest Transifex
  libandroid-navigation-ui/src/main/res/values-ru/strings.xml
Labels: navigation-ui, topic: localization, ✓ ready for review

#2279 Cherry picking from master
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-uk/strings.xml
  build.gradle
  gradle/dependencies.gradle
  libandroid-navigation-ui/proguard-consumer.pro
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLayerProvider.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLine.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/NavigationMapRoute.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/utils/MapUtils.java
  libandroid-navigation-ui/src/main/res/values-fa/strings.xml
  libandroid-navigation-ui/src/main/res/values-ja/strings.xml
  libandroid-navigation-ui/src/main/res/values-ru/strings.xml
  libandroid-navigation-ui/src/main/res/values-uk/strings.xml
  libandroid-navigation-ui/src/main/res/values-vi/strings.xml
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLineTest.java
  libandroid-navigation/proguard-consumer.pro
  libandroid-navigation/src/main/res/values-fa/strings.xml
  libandroid-navigation/src/main/res/values-ja/strings.xml
  libandroid-navigation/src/main/res/values-uk/strings.xml
Labels: navigation-ui, ✓ ready for review

#2281 Release 0.42.4
  CHANGELOG.md
  README.md
Labels: navigation-core, navigation-ui, release

#2270 Add tests for libdirections-offboard module
  libdirections-offboard/src/main/java/com/mapbox/navigation/route/offboard/MapboxOffboardRouter.kt
  libdirections-offboard/src/test/java/com/mapbox/navigation/route/offboard/MapboxOffboardRouterGenerationTest.kt
  libdirections-offboard/src/test/java/com/mapbox/navigation/route/offboard/MapboxOffboardRouterTest.kt
  libdirections-offboard/src/test/java/com/mapbox/navigation/route/offboard/base/BaseTest.kt
  libdirections-offboard/src/test/java/com/mapbox/navigation/route/offboard/router/NavigationRouteEventListenerTest.kt
  libdirections-offboard/src/test/resources/directions_two_leg_route.json
Labels: navigation-core, tests

#2282 Pull 0.42.4 CHANGELOG and README release changes
  CHANGELOG.md
  README.md
Labels: navigation-core, navigation-ui, release
