Repository mapbox/mapbox-navigation-android, pull requests merged in 2019-03, with the labels that each got.

#1775 Fix NavigationRoute bearing order
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteWaypoint.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
Labels: bug, deprecated method, navigation-core, ✓ ready for review

#1782 Fix plugged wireless battery monitor check
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/BatteryMonitor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/BatteryMonitorTest.java
Labels: bug, topic: telemetry, ✓ ready for review

#1779 Fix destination marker not drawn on Style reload
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationSymbolManager.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/SymbolOnStyleLoadedListener.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/SymbolOnStyleLoadedListenerTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1772 Add DepartEventFactory for handling route departure events
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/DepartEventFactory.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/DepartEventHandler.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/DepartEventFactoryTest.java
Labels: bug, navigation-core, topic: telemetry, ✓ ready for review

#1785 Add Android P 440 density support to UrlDensityMap
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/ImageCreator.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/UrlDensityMap.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/instruction/UrlDensityMapTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/SdkVersionChecker.java
Labels: bug, navigation-ui, ✓ ready for review

#1777 Add initial GPS event
  app/src/main/AndroidManifest.xml
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/InitialGpsEvent.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/InitialGpsEventFactory.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/InitialGpsEventHandler.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationMetricsWrapper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/InitialGpsEventFactoryTest.java
Labels: navigation-core, needs field testing, topic: telemetry, ✓ ready for review

#1787 Remove directionsProfile from NavigationUiOptions
  app/src/main/java/com/mapbox/services/android/navigation/testapp/NavigationApplication.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationLauncherActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/MapboxNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationLauncherOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationUiOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.java
Labels: SEMVER, navigation-ui, release blocker

#1789 Release v0.31.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui, release

#1791 Update circle.yml gradle options to fix intermittent unit test failures
  circle.yml
Labels: bug, navigation-core, tests

#1792 Update README per 0.31.0 release
  README.md
Labels: release

#1795 Add manifest placeholder for enabling / disabling Crashlytics automatically
  app/build.gradle
  app/src/main/AndroidManifest.xml
Labels: test app

#1796 Fix missing cancel event / not sent
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLifecycleMonitor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
Labels: bug, navigation-core, topic: telemetry

#1799 Fix event simulation flag field wrongly reported
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/replay/ReplayRouteLocationConverter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/replay/ReplayRouteLocationEngine.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
Labels: bug, navigation-core, topic: telemetry

#1803 Add RawLocationListener for direct updates from LocationEngine
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/RawLocationListener.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/LocationUpdater.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcher.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/LocationUpdaterTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcherTest.java
Labels: navigation-core, new API(s), topic: location, ✓ ready for review

#1804 Update Maps SDK to 7.2.0
  gradle/dependencies.gradle
Labels: chore, navigation-ui, ✓ ready for review

#1805 Update Android Core to 1.2.0
  gradle/dependencies.gradle
  libandroid-navigation/build.gradle
Labels: navigation-core, navigation-ui, topic: location, ✓ ready for review

#1802 Adjust NavigationCamera zoom reset behavior
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/ResetCancelableCallback.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/DynamicCameraTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/ResetCancelableCallbackTest.java
Labels: bug, navigation-ui, topic: camera, ✓ ready for review

#1810 README bump for 0.32.0 release
  README.md
Labels: topic: documentation, ✓ ready for review

#1809 Release v0.32.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui, ✓ ready for review

#1813 Fix null ResponseBody in VoiceInstructionLoader
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/InstructionCacheCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/VoiceInstructionLoader.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/voice/InstructionCacheCallbackTest.java
Labels: bug, navigation-core, topic: voice, ✓ ready for review

#1815 Add LocationComponent FPS throttle based on map zoom
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/LocationFpsDelegate.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapSettings.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/LocationFpsDelegateTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapTest.java
Labels: navigation-ui, new API(s), performance improvement, ✓ ready for review

#1800 Added attribute to capture event name in performance trace event
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/BatteryEvent.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/InitialGpsEvent.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationPerformanceEvent.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteRetrievalEvent.java
Labels: topic: telemetry, ✓ ready for review

#1819 Add DirectionsRouteType for starting navigation with annotation data
  gradle/dependencies.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/DirectionsRouteType.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteHandler.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/BaseTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/MockLocationBuilder.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/RouteHandlerTest.java
Labels: navigation-ui, new API(s), topic: instructions, ✓ ready for review

#1826 Release v0.33.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui, release

#1827 Update README per 0.33.0 release
  README.md
Labels: release

#1830 Finish camera reset during MapboxMap cancel events
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/ResetCancelableCallback.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/ResetCancelableCallbackTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1832 Release v0.33.1
  CHANGELOG.md
Labels: navigation-core, navigation-ui, release, ✓ ready for review

#1833 Update README per 0.33.1 release
  README.md
Labels: release

#1807 Update NavigationView NavigationListener to triggered when initialized
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcherTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1820 Added metadata to NavigationPerformanceEvent
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/BatteryEvent.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/InitialGpsEvent.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MetadataBuilder.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationMetricsWrapper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationPerformanceEvent.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationPerformanceMetadata.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteRetrievalEvent.java
Labels: bug

#1835 Update NavigationCamera resetting state if transition cancelled
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTransitionListener.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTransitionListenerTest.java
Labels: navigation-ui, topic: camera, ✓ ready for review

#1836 Bump mapbox-navigation-native version to 6.0.0
  gradle/dependencies.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/ConfigureRouterTask.java
Labels: quick fix, ✓ ready for review

#1838 Release v0.33.2
  CHANGELOG.md
Labels: navigation-core, navigation-ui, release

#1839 Update README per 0.33.2 release
  README.md
Labels: release

#1841 Setup native crash monitor for test application
  app/build.gradle
  app/src/main/java/com/mapbox/services/android/navigation/testapp/NavigationApplication.kt
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, test app, ✓ ready for review

#1816 Fix proguard
  libandroid-navigation-ui/proguard-consumer.pro
Labels: bug, navigation-ui, ✓ ready for review

#1844 Update Maps SDK to 7.3.0
  gradle/dependencies.gradle
Labels: navigation-ui, test app, tests, ⚠️ DO NOT MERGE

#1849 Add NavigationCamera#update for MapboxMap animations
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationContract.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/CameraAnimationDelegate.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/CameraUpdateMode.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTrackingChangedListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraUpdate.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTrackingChangedListenerTest.java
Labels: SEMVER, navigation-ui, new API(s), topic: camera, ✓ ready for review

#1829 Add dynamic offline routing to NavigationView
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/ConnectivityStatusProvider.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/DamerauLevenshteinAlgorithm.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/MobileNetworkChecker.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOfflineRouter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOptions.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewRouteEngineListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewRouter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/OfflineRouteFoundCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/OfflineRouterConfiguredCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/RouteComparator.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/ViewRouteListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/WifiNetworkChecker.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/OffRouteEvent.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/ViewRouteFetcher.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/ConnectivityStatusProviderTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOfflineRouterTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewRouteEngineListenerTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewRouterTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/OfflineRouteFoundCallbackTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/OfflineRouterConfiguredCallbackTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/ViewRouteFetcherTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteFetcher.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/route/RouteFetcherTest.java
Labels: SEMVER, navigation-ui, needs field testing, new API(s), ✓ ready for review
