Repository mapbox/mapbox-navigation-android, pull requests merged in 2019-02, with the labels that each got.

#1722 Update Maps SDK 7.1.1 and Annotation Plugin 0.5.0
  gradle/dependencies.gradle
Labels: navigation-ui, ✓ ready for review

#1724 Allow multiple route simulations with NavigationView
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/LocationEngineConductor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/LocationEngineConductorTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModelTest.java
Labels: SEMVER, bug, navigation-ui, ✓ ready for review

#1661 Added RouteRetrievalEvent
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/Attribute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/Counter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/DoubleCounter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/ElapsedTime.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/IntCounter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/LongCounter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationMetricsWrapper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationPerformanceEvent.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteRetrievalEvent.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/ElapsedTimeTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
Labels: ✓ ready for review

#1726 Fix issue with mute persistence between navigation sessions / rotation
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewInstanceState.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/SoundButton.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModelTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1728 Update Maps SDK 7.1.2
  gradle/dependencies.gradle
Labels: navigation-ui, ✓ ready for review

#1733 Add silent waypoints support into NavigationRoute
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EndNavigationActivity.java
  gradle/dependencies.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
Labels: feature, topic: directions, ✓ ready for review

#1729 Add battery event
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/BatteryChargeReporter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/BatteryEvent.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/BatteryMonitor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/FloatCounter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/SdkVersionChecker.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/BatteryChargeReporterTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/BatteryMonitorTest.java
Labels: navigation-core, topic: telemetry, ✓ ready for review

#1734 Add interceptor and event listener support for NavigationRoute
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
Labels: navigation-core, new API(s), ✓ ready for review

#1731 Update RouteRetrievalEvent
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/ElapsedTime.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/LongCounter.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationMetricsWrapper.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteCallback.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteEventListener.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteRetrievalEvent.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/ElapsedTimeTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteCallbackTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteEventListenerTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
Labels: navigation-core, release blocker, ✓ ready for review

#1735 Prevent route feature collections IndexOutOfBoundsException in PrimaryRouteUpdateTask
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLine.java
Labels: bug, navigation-ui, ✓ ready for review

#1736 Bump mapbox sdk services version to 4.5.0
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, quick fix, ✓ ready for review

#1738 Added RouteRefresh as a wrapper class for MapboxDirectionsRefresh
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RefreshCallback.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RefreshError.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteAnnotationUpdater.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteRefresh.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteRefreshCallback.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/RouteAnnotationUpdaterTest.java
Labels: navigation-core, new API(s), ✓ ready for review

#1739 Release 0.29.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui, release

#1742 Ignore primary route update tasks with empty collections
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLine.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/PrimaryRouteUpdateTask.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/route/PrimaryRouteUpdateTaskTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1744 Bump NN version to 5.0.0
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, quick fix, ✓ ready for review

#1748 Adjust continueStraight to default for NavigationRoute
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteTest.java
Labels: navigation-core, ✓ ready for review

#1750 Fix battery charge reporter NPE
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
Labels: bug, navigation-core, topic: telemetry, ✓ ready for review

#1755 Release 0.30.0
  CHANGELOG.md
  README.md
  gradle.properties
Labels: navigation-core, navigation-ui, release

#1756 Fix CHANGELOG for v0.30.0
  CHANGELOG.md
Labels: quick fix, release, ✓ ready for review

#1757 Add Crashlytics to test app
  app/build.gradle
  app/src/main/java/com/mapbox/services/android/navigation/testapp/NavigationApplication.kt
  build.gradle
  circle.yml
  gradle/dependencies.gradle
Labels: test app, ✓ ready for review
