Repository mapbox/mapbox-navigation-android, pull requests merged in 2019-01, with the labels that each got.

#1651 Bump Maps and Events dependencies
  gradle/dependencies.gradle
Labels: navigation-core, navigation-ui, quick fix, ✓ ready for review

#1643 Add ability to disable auto-increment of RouteLeg index
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationOptions.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteProcessorRunnable.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationEventDispatcherTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/RouteProcessorRunnableTest.java
Labels: navigation-core, navigation-ui, new API(s), ✓ ready for review

#1654 Happy 2019 🎉🚗
  LICENSE
  libandroid-navigation-ui/javadoc.gradle
  libandroid-navigation/javadoc.gradle
Labels: chore, navigation-core, navigation-ui, ✓ ready for review

#1655 Allow NavigationView to start navigation during existing session
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewRouteEngineListener.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModelTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewRouteEngineListenerTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1658 Use MapboxMap camera animation for resetting NavigationCamera
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/AddProgressListenerCancelableCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/ResetTrackingModeCancelableCallback.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/ResetTrackingModeCancelableCallbackTest.java
Labels: navigation-ui, ✓ ready for review

#1660 Return the actual error coming back from NN when fetching an offline route fails
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineRouteRetrievalTask.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/OfflineRouteRetrievalTaskTest.java
Labels: quick fix, ✓ ready for review

#1666 Remove unused / package-private RouteStepProgress#nextStep
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteLegProgress.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteStepProgress.java
Labels: bug, navigation-core, ✓ ready for review

#1615 Update Maps SDK 7.x and events 4.x with new location APIs
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRegionDownloadActivity.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/location/ForwardingLocationCallback.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/location/FusedLocationEngine.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/DualNavigationMapActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationLauncherActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationMapRouteActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleActivity.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleLocationEngineCallback.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExamplePresenter.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleViewModel.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/callout/ExampleCalloutManager.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/ExampleLocationEngineListener.kt
  app/src/main/res/layout/activity_component_navigation.xml
  app/src/main/res/layout/activity_example.xml
  app/src/main/res/layout/activity_mock_navigation.xml
  app/src/main/res/layout/activity_offline_region_download.xml
  app/src/main/res/layout/activity_reroute.xml
  gradle/dependencies.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/ResetTrackingModeCancelableCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationEngineConductor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/location/LocationEngineConductorListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapLayerInteractor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteArrow.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteClickListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/MapRouteLine.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/route/ViewRouteFetcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/utils/MapUtils.java
  libandroid-navigation-ui/src/main/res/layout/navigation_view_layout.xml
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/LocationEngineConductorTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/ResetTrackingModeCancelableCallbackTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapLayerInteractorTest.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/replay/ReplayRouteLocationEngine.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/replay/ReplayRouteLocationListener.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/LocationUpdater.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineListener.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineUpdater.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationService.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteProcessorBackgroundThread.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/location/replay/ReplayRouteLocationListenerTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/LocationUpdaterTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineListenerTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLocationEngineUpdaterTest.java
Labels: SEMVER, navigation-core, navigation-ui, ✓ ready for review

#1675 Set ssmlAnouncement when using SpeechAnnouncementListener
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/listeners/SpeechAnnouncementListener.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewEventDispatcherTest.java
Labels: SEMVER, bug, navigation-ui, ✓ ready for review

#1676 NavigationView do not allow way name to show in overview mode
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenterTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1667 Fix AlertView animation leak
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/alert/AlertView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/alert/AlertViewAnimatorListener.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/alert/AlertViewAnimatorListenerTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1682 Tracking gestures management to true in default NavigationView styles
  libandroid-navigation-ui/src/main/res/values/styles.xml
Labels: navigation-ui, ✓ ready for review

#1669 Add dynamic map FPS adjustment for NavigationMapboxMap
  gradle/dependencies.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationOnCameraTrackingChangedListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTransitionListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/OnTrackingModeChangedListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/OnTrackingModeTransitionListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/FpsDelegateProgressChangeListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapBatteryMonitor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapFpsDelegate.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapFpsInstanceState.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapInstanceState.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCameraTransitionListenerTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapFpsDelegateTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapTest.java
Labels: navigation-ui, new API(s), performance improvement, ✓ ready for review

#1679 Add Streets Source v7 and v8 checks for way name layer
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapLayerInteractor.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapTest.java
Labels: navigation-ui, ✓ ready for review

#1684 Removed multiple instantiations of MapboxOfflineRouter from OfflineRegionDownloadActivity
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRegionDownloadActivity.kt
Labels: ✓ ready for review

#1683 Update InstructionLoader API as public / taking BannerText
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionLoader.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionLoaderTest.java
Labels: navigation-ui, new API(s), ✓ ready for review

#1543 Consume banner instructions from NN
  gradle/dependencies.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/milestone/BannerInstructionMilestone.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessor.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/RouteProcessorRunnable.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/routeprogress/RouteProgress.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/snap/SnapToRoute.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/milestone/BannerInstructionMilestoneTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRouteProcessorTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/RouteProcessorRunnableTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/snap/SnapToRouteTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/RouteUtilsTest.java
Labels: SEMVER, navigation-core, navigation-ui, topic: instructions, ✓ ready for review

#1686 Release v0.27.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui, release

#1688 Adjust route overview to account for lifecycle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenter.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/NavigationPresenterTest.java
Labels: bug, navigation-ui, ✓ ready for review

#1701 Fix activation of default LocationEngine for LocationComponent
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
Labels: bug, navigation-ui, ✓ ready for review

#1690 Update support lib 28.0.0 to fix issue with ViewModel restoration
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/autocomplete/AutocompleteBottomSheetBehavior.kt
  gradle/dependencies.gradle
Labels: bug, navigation-ui, ✓ ready for review

#1696 Provide default LocationComponent style when not found
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
Labels: bug, navigation-ui, new API(s), ✓ ready for review

#1704 Update translations from Transifex
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-ru/strings.xml
  libandroid-navigation-ui/src/main/res/values-hu/strings.xml
  libandroid-navigation-ui/src/main/res/values-it/strings.xml
  libandroid-navigation-ui/src/main/res/values-pt-rPT/strings.xml
  libandroid-navigation-ui/src/main/res/values-ru/strings.xml
  libandroid-navigation/src/main/res/values-hu/strings.xml
Labels: navigation-ui, test app, ✓ ready for review

#1709 Add ManeuverView APIs for adjusting primary and secondary color
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/maneuver/ManeuverView.java
  libandroid-navigation-ui/src/main/res/layout-land/instruction_content_layout.xml
  libandroid-navigation-ui/src/main/res/layout-land/instruction_layout.xml
  libandroid-navigation-ui/src/main/res/layout-land/instruction_layout_alt.xml
  libandroid-navigation-ui/src/main/res/layout-land/sub_instruction_layout.xml
  libandroid-navigation-ui/src/main/res/layout/instruction_content_layout.xml
  libandroid-navigation-ui/src/main/res/layout/sub_instruction_layout.xml
  libandroid-navigation-ui/src/main/res/values/attrs.xml
Labels: navigation-ui, new API(s), ✓ ready for review

#1707 Replace deprecated maker usage in NavigationMapboxMap with SymbolManager
  app/build.gradle
  gradle/dependencies.gradle
  libandroid-navigation-ui/build.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/ThemeSwitcher.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationSymbolManager.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationSymbolManagerTest.java
Labels: SEMVER, navigation-ui, ✓ ready for review

#1712 Update Maps SDK 7.1.0
  gradle/dependencies.gradle
  libandroid-navigation-ui/build.gradle
Labels: navigation-ui, ✓ ready for review

#1700 Delay initialization of FpsDelegate / WayName in NavigationMapboxMap
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapFpsDelegate.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapFpsInstanceState.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapPaddingInstanceState.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/MapWayNameChangedListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapSettings.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMap.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapInstanceState.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapFpsDelegateTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/MapWayNameChangedListenerTest.java
  libandroid-navigation-ui/src/test/java/com/mapbox/services/android/navigation/ui/v5/map/NavigationMapboxMapTest.java
Labels: navigation-ui, performance improvement, ✓ ready for review

#1715 Release v0.28.0
  CHANGELOG.md
  gradle.properties
Labels: navigation-core, navigation-ui, release
