Repository mapbox/mapbox-navigation-android, pull requests merged in 2019-12, with the labels that each got.

#2287 Fix DownloadTask regression and add is completed check to OfflineRegion.OfflineRegionObserver
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRegionDownloadActivity.kt
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/OfflineRegionObserver.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/DownloadTask.kt
Labels: bug, kotlin-conversion, navigation-core, navigation-ui, test app

#2288 Off-route threshold options (master)
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigationOptions.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationConstants.kt
Labels: feature, kotlin-conversion, navigation-core

#2291 Fix regression from #2278
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRegionDownloadActivity.kt
Labels: bug, quick fix, test app, ✓ ready for review

#2292 Cherry pick #2287 (master) into base-v0.42.1
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRegionDownloadActivity.kt
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/OfflineRegionObserver.java
Labels: quick fix, ✓ ready for review

#2294 Bump mapbox-navigation-native version to 7.0.0 in base-v0.42.1 branch
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  app/src/main/res/layout/activity_component_navigation.xml
  gradle/dependencies.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/ConfigureRouterTask.java
Labels: navigation-core, test app, ✓ ready for review

#2293 Bump mapbox-navigation-native version to 7.0.0
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  app/src/main/res/layout/activity_component_navigation.xml
  gradle/dependencies.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/FreeDriveLocationUpdater.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/ConfigureRouterTask.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
Labels: navigation-core, test app, topic: localization, ✓ ready for review

#2274 Rl 171 offboard route test screen
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/services/android/navigation/testapp/MainActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/NavigationApplication.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OffboardRouterActivityJava.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OffboardRouterActivityKt.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/utils/Utils.java
  app/src/main/res/values/strings.xml
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationRoute.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationWalkingOptions.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/extensions/Mappers.kt
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/NavigationWalkingOptionsTest.kt
  libdirections-offboard/src/main/java/com/mapbox/navigation/route/offboard/extension/Mappers.kt
Labels: test app

#2307 Bump play-publisher version to 2.3.0
  app/build.gradle
  gradle/dependencies.gradle
Labels: test app, ✓ ready for review

#2309 Bump Kotlin std lib and Kotlin plugin version to 1.3.61
  gradle/dependencies.gradle
Labels: quick fix, ✓ ready for review

#2308 Cherry pick #2307 (master) into base-v0.42.1
  app/build.gradle
  gradle/dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: quick fix, ✓ ready for review

#2299 Fix Reroute issue, when no waypoints added. Fix tests. Migrate tests to Kotlin
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.kt
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/RouteUtilsTest.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/utils/RouteUtilsTest.kt
Labels: bug, navigation-core

#2312 Metrics module refactoring
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleActivity.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/InitialGpsEvent.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/RouteRetrievalEvent.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/metrics/DirectionsMetrics.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/metrics/NavigationAppUserTurnstileEvent.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/metrics/NavigationArriveEvent.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/metrics/NavigationCancelEvent.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/metrics/NavigationDepartEvent.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/metrics/NavigationEvent.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/metrics/NavigationFeedbackEvent.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/metrics/NavigationMetrics.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/utils/extensions/MetricEx.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/metrics/MapboxMetricsReporter.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/metrics/MetricEvent.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/metrics/MetricsObserver.kt
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/navigation/metrics/MapboxMetricsReporterTest.kt
  libnavigation-base/src/main/java/com/mapbox/navigation/base/internal/metrics/DirectionsMetrics.kt
  libnavigation-base/src/main/java/com/mapbox/navigation/base/internal/metrics/NavigationMetrics.kt
  libnavigation-base/src/main/java/com/mapbox/navigation/base/metrics/MetricEvent.kt
  libnavigation-base/src/main/java/com/mapbox/navigation/base/metrics/MetricsObserver.kt
  libnavigation-metrics/build.gradle
  libnavigation-metrics/src/main/java/com/mapbox/navigation/metrics/MapboxMetricsReporter.kt
  libnavigation-metrics/src/main/java/com/mapbox/navigation/metrics/internal/NavigationAppUserTurnstileEvent.kt
  libnavigation-metrics/src/main/java/com/mapbox/navigation/metrics/internal/utils/extensions/MetricEx.kt
  libnavigation-metrics/src/test/java/com/mapbox/navigation/metrics/MapboxMetricsReporterTest.kt
Labels: navigation-core, refactor

#2289 Refactored MapboxLogger. Added tests to logger module.
  app/build.gradle
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleActivity.kt
  liblogger/build.gradle
  liblogger/src/main/java/com/mapbox/navigation/logger/LogEntry.kt
  liblogger/src/main/java/com/mapbox/navigation/logger/LogPriority.kt
  liblogger/src/main/java/com/mapbox/navigation/logger/LoggerObserver.kt
  liblogger/src/main/java/com/mapbox/navigation/logger/MapboxLogger.kt
  liblogger/src/main/java/com/mapbox/navigation/logger/annotations/LogLevel.kt
  liblogger/src/test/java/com/mapbox/navigation/logger/MapboxLoggerTest.kt
  libnavigation-base/src/main/java/com/mapbox/navigation/base/logger/Logger.kt
  libnavigation-base/src/main/java/com/mapbox/navigation/base/logger/model/Message.kt
  libnavigation-base/src/main/java/com/mapbox/navigation/base/logger/model/Tag.kt
  libnavigation-core/src/main/java/com/mapbox/navigation/module/NavigationModuleProvider.kt
Labels: navigation-core, refactor, tests

#2306 Request electronic horizon during FreeDrive
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/ElectronicHorizonParams.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/ElectronicHorizonRequestBuilder.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/FreeDriveLocationUpdater.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/MapboxNavigator.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/internal/navigation/ElectronicHorizonParamsTest.kt
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/internal/navigation/ElectronicHorizonRequestBuilderTest.kt
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/internal/navigation/FreeDriveLocationUpdaterTest.kt
Labels: feature

#2322 Replaces the old Timber usage with the new Logger library
  app/src/androidTest/java/testapp/activity/BaseNavigationActivityTest.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/NavigationApplication.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/MockNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OffboardRouterActivityJava.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OffboardRouterActivityKt.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/OfflineRegionDownloadActivity.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/RerouteActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/StoreHistoryTask.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/DualNavigationMapActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/EmbeddedNavigationActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationLauncherActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/NavigationMapRouteActivity.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/SimplifiedCallback.java
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleActivity.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/ExampleLocationEngineCallback.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/ExampleRouteFinder.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/OfflineRouteFinder.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/example/ui/navigation/RouteFinder.kt
  app/src/main/java/com/mapbox/services/android/navigation/testapp/utils/Utils.java
  libandroid-navigation-ui/build.gradle
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationOfflineDatabaseCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewModel.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/NavigationViewOfflineRouter.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/OfflineRouterConfiguredCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/camera/NavigationCamera.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionTarget.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/InstructionView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/instruction/NavigationAlertView.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/AndroidSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/InstructionCacheCallback.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/MapboxSpeechPlayer.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/NavigationSpeechListener.java
  libandroid-navigation-ui/src/main/java/com/mapbox/services/android/navigation/ui/v5/voice/VoiceInstructionLoader.java
  libandroid-navigation/build.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/FreeDriveLocationUpdater.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/LocationUpdater.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/MetadataBuilder.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/NavigationEventDispatcher.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/NavigationFasterRouteListener.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/NavigationService.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/RouteRefresherCallback.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/replay/ReplayRouteLocationEngine.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationLibraryLoader.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineRouteRetrievalTask.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/route/RouteFetcher.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/RouteUtils.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/utils/time/TimeFormatter.kt
  libnavigation-base/src/main/java/com/mapbox/navigation/base/logger/Logger.kt
  libnavigation-base/src/main/java/com/mapbox/navigation/base/logger/model/Tag.kt
Labels: navigation-core, navigation-ui, test app

#2324 Retrieve ElectronicHorizon. Java version
  app/src/main/java/com/mapbox/services/android/navigation/testapp/activity/navigationui/ComponentNavigationActivity.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/ElectronicHorizonParams.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/ElectronicHorizonRequestBuilder.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/FreeDriveLocationUpdater.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigation.java
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/MapboxNavigator.java
Labels: feature

#2326 Pass HttpClient to core
  gradle/dependencies.gradle
  libandroid-navigation/build.gradle
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/internal/navigation/HttpClient.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/ConfigureRouterTask.kt
  libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/OfflineNavigator.kt
  libandroid-navigation/src/test/java/com/mapbox/services/android/navigation/v5/internal/navigation/HttpClientTest.kt
Labels: feature
