Repository mapbox/mapbox-navigation-android, pull requests merged in 2020-12, with the labels that each got.

#3709 Add option to enable or disable route refresh
  libnavigation-base/api/current.txt
  libnavigation-base/src/main/java/com/mapbox/navigation/base/options/NavigationOptions.kt
  libnavigation-base/src/test/java/com/mapbox/navigation/base/options/NavigationOptionsTest.kt
  libnavigation-core/src/main/java/com/mapbox/navigation/core/MapboxNavigation.kt
  libnavigation-core/src/main/java/com/mapbox/navigation/core/routerefresh/RouteRefreshController.kt
  libnavigation-core/src/main/java/com/mapbox/navigation/core/routerefresh/RouteRefreshControllerProvider.kt
  libnavigation-core/src/test/java/com/mapbox/navigation/core/MapboxNavigationTest.kt
Labels: Core, feature, new API(s)

#3842 FeedbackDetailsFragment: made fragment independent on NavigationView.
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/NavigationView.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/feedback/FeedbackDetailsFragment.kt
  libnavigation-ui/src/main/res/layout-land/mapbox_navigation_view.xml
  libnavigation-ui/src/main/res/layout/mapbox_navigation_view.xml
Labels: feedback

#3845 Updated change log for release of 1.3.0-alpha.4
  CHANGELOG.md
Labels: skip changelog

#3819 Expose GeoJsonOptions#withTolerance param for route line sources
  libnavigation-ui/api/current.txt
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/route/RouteConstants.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/map/NavigationMapboxMap.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/route/MapRouteArrow.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/route/MapRouteLine.kt
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/route/NavigationMapRoute.java
  libnavigation-ui/src/test/java/com/mapbox/navigation/ui/route/MapRouteLineTest.kt
Labels: UI

#3850 FeedbackFlow: added `fun onFeedbackFlowFinished`
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/NavigationFeedbackFlowListener.kt
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/feedback/FeedbackArrivalFragment.kt
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/feedback/FeedbackDetailsFragment.kt
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/feedback/FeedbackFlowListener.kt
Labels: feature, feedback

#3855 Bump Kotlin and Coroutines versions to 1.4.21 and 1.4.2 respectively
  gradle/dependencies.gradle
Labels: skip changelog

#3857 Bump routing tiles version to 2020_12_05-03_00_00
  libnavigation-base/src/main/java/com/mapbox/navigation/base/options/OnboardRouterOptions.kt
Labels: Core

#3858 Bump mapbox-navigation-native version to 28.0.0
  gradle/dependencies.gradle
  libnavigation-core/src/main/java/com/mapbox/navigation/core/MapboxNavigation.kt
Labels: skip changelog

#3859 Changelog for v1.3.0-alpha.5
  CHANGELOG.md
Labels: skip changelog

#3866 MapboxNavigationTelemetry: logging user feedback creating if failed
  libnavigation-core/src/main/java/com/mapbox/navigation/core/telemetry/MapboxNavigationTelemetry.kt
Labels: feedback, needs-backporting, skip changelog, support

#3868 Expose test-only accessors for polling patience and interval
  libnavigation-core/src/main/java/com/mapbox/navigation/core/internal/utils/InternalUtils.kt
  libnavigation-core/src/main/java/com/mapbox/navigation/core/trip/session/MapboxTripSession.kt
Labels: Core, skip changelog

#3497 Example screen for reroute on route with silent waypoints
  examples/src/main/AndroidManifest.xml
  examples/src/main/java/com/mapbox/navigation/examples/CoreActivity.kt
  examples/src/main/java/com/mapbox/navigation/examples/core/ReplayWaypointsActivity.kt
  examples/src/main/java/com/mapbox/navigation/examples/core/SilentWaypointsRerouteActivity.kt
  examples/src/main/java/com/mapbox/navigation/examples/core/utils/WaypointsController.kt
  examples/src/main/res/layout/activity_silent_waypoints_reroute_layout.xml
  examples/src/main/res/values/strings.xml
  libnavigation-core/src/main/java/com/mapbox/navigation/core/directions/session/MapboxDirectionsSession.kt
  libnavigation-core/src/main/java/com/mapbox/navigation/core/routeoptions/MapboxRouteOptionsUpdater.kt
  libnavigation-core/src/test/java/com/mapbox/navigation/core/directions/session/MapboxDirectionsSessionTest.kt
  libnavigation-core/src/test/java/com/mapbox/navigation/core/routeoptions/MapboxRouteOptionsUpdaterParameterizedTest.kt
  libnavigator/src/main/java/com/mapbox/navigation/navigator/ActiveGuidanceOptionsMapper.kt
  libnavigator/src/main/java/com/mapbox/navigation/navigator/internal/MapboxNativeNavigatorImpl.kt
  libnavigator/src/main/java/com/mapbox/navigation/navigator/internal/NavigatorMapper.kt
  libnavigator/src/test/java/com/mapbox/navigation/navigator/ActiveGuidanceOptionsMapperParameterizedTest.kt
  libnavigator/src/test/java/com/mapbox/navigation/navigator/ActiveGuidanceOptionsMapperTest.kt
  libnavigator/src/test/java/com/mapbox/navigation/navigator/ActiveGuidanceOptionsMapperTestSuite.kt
  libnavigator/src/test/java/com/mapbox/navigation/navigator/NavigatorMapperTest.kt
Labels: Core, bug

#3867 ManeuverView: roundabout generic resource
  libnavigation-ui/api/current.txt
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/instruction/InstructionView.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/instruction/maneuver/ManeuverView.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/summary/InstructionListPresenter.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/summary/InstructionListView.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/summary/InstructionViewHolder.java
  libnavigation-util/src/main/java/com/mapbox/navigation/utils/internal/PrimitivesEx.kt
  libnavigation-util/src/main/java/com/mapbox/navigation/utils/internal/maneuver/ManeuverIconHelper.kt
  libnavigation-util/src/main/res/drawable/mapbox_roundabout_generic_driving_side_left.xml
  libnavigation-util/src/main/res/drawable/mapbox_roundabout_generic_driving_side_right.xml
  libtrip-notification/src/main/java/com/mapbox/navigation/trip/notification/internal/MapboxTripNotification.kt
Labels: UI, bug

#3869 CHANGELOG 1.4.0-beta.1
  CHANGELOG.md
Labels: skip changelog

#3870 Changelog for v1.3.0
  CHANGELOG.md
Labels: skip changelog

#3875 ktlint: upgrade to 0.40.0
  examples/build.gradle
  gradle/dependencies.gradle
  gradle/ktlint.gradle
  libnavigation-base/build.gradle
  libnavigation-core/build.gradle
  libnavigation-metrics/build.gradle
  libnavigation-router/build.gradle
  libnavigation-ui/build.gradle
  libnavigation-util/build.gradle
  libnavigator/build.gradle
  libtrip-notification/build.gradle
Labels: operational excellence, skip changelog

#3878 Bump mapbox-navigation-native version to 28.1.0
  gradle/dependencies.gradle
Labels: skip changelog

#3879 Bump mapbox-java version to 5.8.0-beta.5
  gradle/dependencies.gradle
Labels: skip changelog

#3882 FeedbackFlow: don't show FeedbackDetailedFragment if no detailed items
  libnavigation-core/src/main/java/com/mapbox/navigation/core/internal/utils/CachedNavigationFeedbackEventEx.kt
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/NavigationView.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/feedback/FeedbackDetailsFragment.kt
Labels: bug, feedback

#3838 Feature/ak #126 speed limit
  examples/src/main/java/com/mapbox/navigation/examples/core/BasicNavigationActivity.kt
  examples/src/main/java/com/mapbox/navigation/examples/ui/NavigationViewActivity.kt
  examples/src/main/res/layout/activity_basic_navigation_layout.xml
  examples/src/main/res/raw/sample_route_2_token_replacement.txt
  libnavigation-core/src/main/java/com/mapbox/navigation/core/trip/session/MapMatcherResult.kt
  libnavigation-ui/api/current.txt
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/NavigationPresenter.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/NavigationView.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/NavigationViewModel.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/NavigationViewSubscriber.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/internal/NavigationContract.java
  libnavigation-ui/src/main/java/com/mapbox/navigation/ui/speed/SpeedLimitView.java
  libnavigation-ui/src/main/res/layout-land/mapbox_navigation_view.xml
  libnavigation-ui/src/main/res/layout/layout_speed_limit.xml
  libnavigation-ui/src/main/res/layout/mapbox_navigation_view.xml
  libnavigation-ui/src/main/res/values-night/colors.xml
  libnavigation-ui/src/main/res/values/attrs.xml
  libnavigation-ui/src/main/res/values/colors.xml
  libnavigation-ui/src/main/res/values/strings.xml
  libnavigation-ui/src/test/java/com/mapbox/navigation/ui/NavigationPresenterTest.java
  libnavigation-ui/src/test/java/com/mapbox/navigation/ui/NavigationViewSubscriberTest.java
Labels: UI, feature
